USE [Complaints_Analytics]
GO
/****** Object:  StoredProcedure [dbo].[Uspload_RPT_COMPLAINTS]    Script Date: 9/6/2021 6:09:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Uspload_RPT_COMPLAINTS] 
AS
BEGIN

Set Nocount on
--Drop Table dbo.RPT_COMPLAINTS

IF OBJECT_ID('tempdb..#AllCaseRefrences') IS NOT NULL DROP TABLE #AllCaseRefrences
Select * into #AllCaseRefrences from 
(
              Select [CASEREFERENCE] from [TBL_COMPLAINTS]    With (NoLock)
              Union
              Select [CASEREFERENCE] from [TBL_REGULATIONS_INPUT] With (NoLock) Where [Description] = 'Issue'
) X




IF OBJECT_ID('tempdb..#PSCWithProductCode') IS NOT NULL DROP TABLE #PSCWithProductCode
Select 
  *
Into #PSCWithProductCode
From 
  (
    Select 
      [CASEREFERENCE]  = [CASEREFERENCE], 
      PSC_ID           = PSC_ID,         
      PSC_NAME         = PSC_NAME,
      DESCRIPTION      = DESCRIPTION,
      [RowNum]         = ROW_NUMBER ( ) OVER (  PARTITION BY CASEREFERENCE  order by DESCRIPTION Asc)      
    --Into #PSCNoProductCode
    From 
  (
         Select
           [CASEREFERENCE]  = cfg.[CASEREFERENCE],
           PSC_ID           = psc.PSC_ID,
           PSC_NAME         = psc.PSC_NAME,
           DESCRIPTION      = 'Complaint'
         From [TBL_COMPLAINTS]              cfg With (NoLock)
                Left Join [XREF_PRODUCT_PSCID]  psc With (NoLock) on cfg.PRODUCTCODE = psc.PRODUCTCODE 
         Where cfg.PRODUCTCODE Is Not Null
  
         Union 
  
         Select
           [CASEREFERENCE]  = reg.[CASEREFERENCE],
           PSC_ID           = psc.PSC_ID,
           PSC_NAME         = psc.PSC_NAME,
           DESCRIPTION      = DESCRIPTION 
         From [TBL_REGULATIONS_INPUT]              reg With (NoLock)
                Left Join [XREF_PRODUCT_PSCID]     psc With (NoLock) on reg.PRODUCTCODE = psc.PRODUCTCODE 
         Where reg.PRODUCTCODE Is Not Null and [Description] = 'Issue'
  ) X
) y
Where y.[RowNum] = 1



IF OBJECT_ID('tempdb..#PSCNoProductCode') IS NOT NULL DROP TABLE #PSCNoProductCode
Select 
  *
Into #PSCNoProductCode
From 
(
  Select 
    [CASEREFERENCE]  = [CASEREFERENCE], 
    PSC_ID           = PSC_ID,         
    PSC_NAME         = PSC_NAME,
    DESCRIPTION      = 'Complaint',
    [RowNum]         = ROW_NUMBER ( ) OVER (  PARTITION BY CASEREFERENCE  order by DESCRIPTION Asc)      
  --Into #PSCNoProductCode
  From 
  (
         Select
                [CASEREFERENCE]  = cfg.[CASEREFERENCE],
                PSC_ID           = psc.PSC_ID,
                PSC_NAME         = psc.PSC_NAME,
  			    DESCRIPTION      = 'Complaint'
         From [TBL_COMPLAINTS]               cfg With (NoLock)
                       Left Join [XREF_PRODUCT_PSCID]  psc With (NoLock) on cfg.CUSTOMERTYPE+COMPLAINTLVL1 = psc.PRODUCTDESCRIPTION 
         Where cfg.PRODUCTCODE Is Null
  
         Union 
  
         Select
                [CASEREFERENCE]  = reg.[CASEREFERENCE],
                PSC_ID           = psc.PSC_ID,
                PSC_NAME         = psc.PSC_NAME,
  			    DESCRIPTION      = DESCRIPTION
         From [TBL_REGULATIONS_INPUT]            reg With (NoLock)
                       Left Join [XREF_PRODUCT_PSCID]  psc With (NoLock) on reg.CUSTOMERTYPE+COMPLAINTLVL1 = psc.PRODUCTDESCRIPTION
         Where reg.PRODUCTCODE Is Null and [Description] = 'Issue'
  ) X
)Y
where [RowNum] = 1









IF OBJECT_ID('tempdb..#LatestCmpl') IS NOT NULL DROP TABLE #LatestCmpl
Select 
  * 
Into #LatestCmpl
from 
  (
    Select 
      tcra.*,
         Tool_Product    = prd.PSC_NAME,
      [RowNum]        = ROW_NUMBER ( ) OVER (  PARTITION BY tcra.CASEREFERENCE  order by tcra.QUEUECREATEDATE Desc) 
    From [TBL_CMPL_REG_ALIGNMENT]            tcra with (NoLock)
            Left Join [REF_PRODUCTLIST]         prd  with (NoLock) on tcra.PSC_ID = prd.PSC_ID 
  ) x
Where [RowNum] = 1



IF OBJECT_ID('tempdb..#BasePopulation') IS NOT NULL DROP TABLE #BasePopulation
SELECT
     [CASEREFERENCE]                                          = acf.[CASEREFERENCE]
    ,[D_LOGGEDDATE]                                           = Case when cfg.Casereference is not null then cfg.[D_LOGGEDDATE] else reg.[D_LOGGEDDATE] End 
    ,[D_CLOSEDDATE]                                           = Case when cfg.Casereference is not null then cfg.[D_CLOSEDDATE] else reg.[D_CLOSEDDATE] End 
    ,[CALDAYSCASEAGE]                                         = Case 
                                                                  when cfg.Casereference is not null and cfg.[D_LOGGEDDATE] is not null then DateDiff(day,cfg.[D_LOGGEDDATE], cfg.[D_CLOSEDDATE]) 
                                                                  else DateDiff(day,reg.[D_LOGGEDDATE], reg.[D_CLOSEDDATE]) 
                                                                 End
    ,[CENTERPOINTSIGNIFICANT]                                 = Case when cfg.Casereference is not null then cfg.[CENTERPOINTSIGNIFICANT] else reg.[CENTERPOINTSIGNIFICANT] End  
    ,[COMPLAINTLVL1]                                          = Case when cfg.Casereference is not null then cfg.[COMPLAINTLVL1] else reg.[COMPLAINTLVL1] End
    ,[COMPLAINTLVL2]                                          = Case when cfg.Casereference is not null then cfg.[COMPLAINTLVL2] else reg.[COMPLAINTLVL2] End
    ,[COMPLAINTLVL3]                                          = Case when cfg.Casereference is not null then cfg.[COMPLAINTLVL3] else reg.[COMPLAINTLVL3] End
    ,[COMPLAINTLVL4]                                          = Case when cfg.Casereference is not null then cfg.[COMPLAINTLVL4] else reg.[COMPLAINTLVL4] End
    ,[COMPLAINTLVL5]                                          = Case when cfg.Casereference is not null then cfg.[COMPLAINTLVL5] else reg.[COMPLAINTLVL5] End
    ,[CUSTOMERTYPE]                                           = Case when cfg.Casereference is not null then cfg.[CUSTOMERTYPE] else reg.[CUSTOMERTYPE] End
    ,[RECEIVEDFROM]                                           = Case when cfg.Casereference is not null then cfg.[RECEIVEDFROM] else reg.[RECEIVEDFROM] End  
    ,[L_BR]                                                   = Case when cfg.Casereference is not null then cfg.[L_BR] else reg.[L_BR] End  
    ,[DATEOFBIRTH]                                            = cfg.[DATEOFBIRTH]
    ,[AGE]                                                    = cfg.[AGE]
    ,[ISIGNIFICANTCRITERIAOPTIONNAME]                         = cfg.[ISIGNIFICANTCRITERIAOPTIONNAME]
    ,[ISIGNIFICANTCRITERIAOPTIONLEVEL1]                       = cfg.[ISIGNIFICANTCRITERIAOPTIONLEVEL1]
    ,[ISIGNIFICANTCRITERIAOPTIONLEVEL2]                       = cfg.[ISIGNIFICANTCRITERIAOPTIONLEVEL2]
    ,[PRODUCTCODE]                                            = Case when cfg.Casereference is not null then cfg.[PRODUCTCODE] else reg.[PRODUCTCODE] End
    ,[PRODUCTDESCRIPTION]                                     = Case when cfg.Casereference is not null then cfg.[PRODUCTDESCRIPTION] else reg.[PRODUCTDESCRIPTION] End
    ,[SUMMARY]                                                = Case when cfg.Casereference is not null then cfg.[SUMMARY] else reg.[SUMMARY] End
    ,[FINALCOMMENTS]                                          = Case when cfg.Casereference is not null then cfg.[FINALCOMMENTS] else reg.[FINALCOMMENTS] End
    ,[COMMENTS]                                               = Case when cfg.Casereference is not null then cfg.[COMMENTS] else reg.[COMMENTS] End
    ,[ZIPCODE]                                                = Case when cfg.Casereference is not null then cfg.[ZIPCODE] else reg.[ZIPCODE] End
    ,[IINCIDENTVENDOROPTIONNAME]                              = Case when cfg.Casereference is not null then cfg.[IINCIDENTVENDOROPTIONNAME] else reg.[IINCIDENTVENDOROPTIONNAME] End
    ,[IINCIDENTVENDOROTHER]                                   = Case when cfg.Casereference is not null then cfg.[IINCIDENTVENDOROTHER] else reg.[IINCIDENTVENDOROTHER] End
    ,[CLARABRIDGE_REG]                                        = Isnull(reg.Regulation,'UNTAGGED')
    --,[PSC_ID]                                                 = Isnull(psc1.PSC_ID,psc2.PSC_ID)
    --,[PRODUCT]                                                = Isnull(psc1.PSC_NAME,psc2.PSC_NAME)

--344
--6/10/2019
	, PSC_ID												 = CASE
																	WHEN cfg.iIncidentVendorOptionName = 'Citizens Access - General' then '10.00'
																	WHEN cfg.iIncidentVendorOptionName = 'Citizens Access - CD' then '05.03'
																	WHEN cfg.iIncidentVendorOptionName = 'Citizens Access - Savings' then '05.02'
																	WHEN cfg.iIncidentVendorOptionName = '<Not Categorized>' and cfg.COMPLAINTLVL1 like '%citizens access%'
																			then '10.00'
																	WHEN cfg.iIncidentVendorOptionName is null and cfg.COMPLAINTLVL1 like '%citizens access%'
																			then '10.00'
																	--WHEN cc.PRODUCTCODE IS NULL THEN C.PSC_ID 
																	ELSE ISNULL(psc1.PSC_ID,psc2.PSC_ID)
																END 
	, [PRODUCT]												=  CASE
																	WHEN cfg.iIncidentVendorOptionName = 'Citizens Access - General' then 'Non Product Specific'
																	WHEN cfg.iIncidentVendorOptionName = 'Citizens Access - CD' then 'Consumer Certificate of Deposits'
																	WHEN cfg.iIncidentVendorOptionName = 'Citizens Access - Savings' then 'Consumer Savings'
																	WHEN cfg.iIncidentVendorOptionName = '<Not Categorized>' and cfg.COMPLAINTLVL1 like '%citizens access%' then 'Non Product Specific'
																	WHEN cfg.iIncidentVendorOptionName is null and cfg.COMPLAINTLVL1 like '%citizens access%' then 'Non Product Specific'
																	--WHEN cc.PRODUCTCODE IS NULL THEN C.PSC_ID 
																	ELSE ISNULL(psc1.PSC_NAME,psc2.PSC_NAME)
																END 


    ,[QUEUE_NUMBER]                                           = que.[QUEUE_NUMBER]                 
    ,[QUEUE_DESCRIPTION]                                      = que.[QUEUE_DESCRIPTION]                
    ,[QUEUECREATEDATE]                                        = que.[QUEUECREATEDATE]                         
    ,[COMPLAINT_FLAG]                                         = que.[COMPLAINT_FLAG]                                              
    ,[REALIGNED_PRODUCT_CODE]                                 = que.[REALIGNED_PRODUCT_CODE]           
    ,[REGULATORY_FLAG]                                        = que.[REGULATORY_FLAG]                         
    ,[REALIGNED_REG_1]                                        = que.[REALIGNED_REG_1]                         
    ,[REALIGNED_REG_2]                                        = que.[REALIGNED_REG_2]                         
    ,[REALIGNED_REG_3]                                        = que.[REALIGNED_REG_3]                  
    ,[REALIGNED_REG_1_NAME]                                   = ref1.[REGULATION_NAME]
    ,[REALIGNED_REG_2_NAME]                                   = ref2.[REGULATION_NAME]
    ,[REALIGNED_REG_3_NAME]                                   = ref3.[REGULATION_NAME]
    ,[REALIGNED_REG_CIRR_VALUE_1]                             = que.[REALIGNED_REG_CIRR_VALUE_1] 
    ,[REALIGNED_REG_CIRR_VALUE_2]                             = que.[REALIGNED_REG_CIRR_VALUE_2] 
    ,[REALIGNED_REG_CIRR_VALUE_3]                             = que.[REALIGNED_REG_CIRR_VALUE_3] 
    ,[REALIGNED_REG_CIRR_TEXT_1]                              = que.[REALIGNED_REG_CIRR_TEXT_1] 
    ,[REALIGNED_REG_CIRR_TEXT_2]                              = que.[REALIGNED_REG_CIRR_TEXT_2] 
    ,[REALIGNED_REG_CIRR_TEXT_3]                              = que.[REALIGNED_REG_CIRR_TEXT_3] 
    ,[COMPLAINT_THEME_ID_1]                                   = que.[COMPLAINT_THEME_ID_1]
    ,[COMPLAINT_THEME_1]                                      = thm1.COMPLAINT_THEME                                 
    ,[COMPLAINT_THEME_ID_2]                                   = que.[COMPLAINT_THEME_ID_2]
    ,[COMPLAINT_THEME_2]                                      = thm2.COMPLAINT_THEME                   
    ,[ROOT_CAUSE_NOTES]                                       = que.[ROOT_CAUSE_NOTES]                        
    ,[ROOT_CAUSE_SUMMARY]                                     = que.[ROOT_CAUSE_SUMMARY]               
    ,[COMPLAINT_STATUS]                                       = que.[COMPLAINT_STATUS]                        
    ,[COMPLAINT_SOLUTION]                                     = que.[COMPLAINT_SOLUTION]               
    ,[REG_ALIGNMENT_STATUS]                                   = que.[REG_ALIGNMENT_STATUS]                    
    ,[IS_COMPLAINT]                                           = que.[IS_COMPLAINT]                            
    ,[ACCESS_LVL]                                             = que.[ACCESS_LVL]         
    ,[ADVISOR]                                                = adv.FULL_NAME
    ,[DIRECTOR]                                               = dir.FULL_NAME       
    ,Tool_Product                                             = que.Tool_Product
    ,REGULATION_MOD                                           = Case 
	                                                                 When que.[REGULATORY_FLAG] = 'NO' Then 'UNTAGGED'
	                                                                 Else Isnull(ref1.[REGULATION_NAME],Isnull(reg.Regulation,'UNTAGGED'))    
																End                     
    ,COMPLAINTTHEME_MOD                                       = Isnull(thm1.[COMPLAINT_THEME],Isnull(thm1.[COMPLAINT_THEME],'Blank'))
    ,COMPLAINT_REG_ALIGNMENT_STATUS                           = Case 
                                                                     When (que.[REALIGNED_REG_1] is not null Or que.[REALIGNED_REG_2] is not null Or que.[REALIGNED_REG_3] is not null Or reg.Regulation is not null)  Then 'Reg-Aligned'
                                                                     Else 'Non Reg-Aligned'
                                                                End
    ,Risk_Factor                                              = Case 
                                                                     When ref1.CIRR_SCORE in ('4','5') Then 'High'
                                                                     Else  'Low'
                                                                End
    ,Description                                              = Case 
                                                                     When cfg.CASEREFERENCE Is Not Null Then 'Complaints'
                                                                     When reg.Description = 'Complaint' Then 'Complaints'
                                                                     When reg.Description is null Then 'Complaints' 
                                                                     Else 'Reg-Aligned EODs'
                                                                End
    ,Unique_Queue_Description                                 = que.[QUEUE_DESCRIPTION] + '-' + Cast(que.[QUEUE_NUMBER] as Varchar(10))
    ,UserId                                                   = Left(que.QUEUE_DESCRIPTION,'7')
    ,UserName                                                 = usr.FULL_NAME
    ,[Table_Type]                                             = Case when cfg.CASEREFERENCE is Not Null Then 'TBL_COMPLAINTS' Else 'TBL_REGULATIONS_INPUT' end		 
	-- Additional fields
	,[1STREG]                                                 = cfg.[1STREG]                                        
	,[1STSUB_CATEGOR]										  = cfg.[1STSUB_CATEGOR]					
	,[2NDSUB_CATEGOR]										  = cfg.[2NDSUB_CATEGOR]					
	,[3RDSUB_CATEGOR]										  = cfg.[3RDSUB_CATEGOR]					
	,[2NDREG]												  = cfg.[2NDREG]							
	,[3RDREG]												  = cfg.[3RDREG]							
	,[ACCOUNTNUMBER]										  = cfg.[ACCOUNTNUMBER]					
	,[APPLICATIONNUMBER]									  = cfg.[APPLICATIONNUMBER]				
	,[CLARA_REG_ALIGN]										  = cfg.[CLARA_REG_ALIGN]					
	,[COMP_ADVISOR_COMMENTS]								  = cfg.[COMP_ADVISOR_COMMENTS]			
	,[ISCOMPLAINT]											  = cfg.[ISCOMPLAINT]						
	,[COMPLIANCE_COMMENTS]									  = cfg.[COMPLIANCE_COMMENTS]				
	,[COMPLIANCE_TRACKER]									  = cfg.[COMPLIANCE_TRACKER]				
	,[CORRECTED_PROD_ALIGN]									  = cfg.[CORRECTED_PROD_ALIGN]						
	,[IINCIDENTBANKID]										  = cfg.[IINCIDENTBANKID]					
	,[IINCIDENTBANKNAME]									  = cfg.[IINCIDENTBANKNAME]				
	,[IINCIDENTBRANCHID]									  = cfg.[IINCIDENTBRANCHID]				
	,[IINCIDENTBRANCHNAME]									  = cfg.[IINCIDENTBRANCHNAME]				
	,[IINCIDENTREGIONID]									  = cfg.[IINCIDENTREGIONID]				
	,[IINCIDENTREGIONNAME]									  = isnull(cfg.[IINCIDENTREGIONNAME],'Blank')
	,[ILOGGINGBANKID]										  = cfg.[ILOGGINGBANKID]					
	,[ILOGGINGBANKNAME]										  = cfg.[ILOGGINGBANKNAME]					
	,[ILOGGINGBRANCHID]										  = cfg.[ILOGGINGBRANCHID]					
	,[ILOGGINGBRANCHNAME]									  = cfg.[ILOGGINGBRANCHNAME]				
	,[ILOGGINGLOCATIONOPTIONNAME]							  = cfg.[ILOGGINGLOCATIONOPTIONNAME]		
	,[ILOGGINGREGIONID]										  = cfg.[ILOGGINGREGIONID]					
	,[ILOGGINGREGIONNAME]									  = cfg.[ILOGGINGREGIONNAME]				
	,[ILOGGINGVENDOROPTIONNAME]								  = cfg.[ILOGGINGVENDOROPTIONNAME]			
	,[INTERNAL_NOTES]										  = cfg.[INTERNAL_NOTES]					
	,[ISIGNIFICANTCRITERIAOPTIONLEVEL3]						  = cfg.[ISIGNIFICANTCRITERIAOPTIONLEVEL3]	
	,[ISIGNIFICANTCRITERIAOPTIONLEVEL4]						  = cfg.[ISIGNIFICANTCRITERIAOPTIONLEVEL4]	
	,[ISIGNIFICANTCRITERIAOPTIONLEVEL5]						  = cfg.[ISIGNIFICANTCRITERIAOPTIONLEVEL5]	
	,[L_AFF]												  = cfg.[L_AFF]							
	,[L_CHANNEL2]											  = cfg.[L_CHANNEL2]	
	,[Channel_Band]                                           = Case 
																	When [L_CHANNEL2] Is Null Then 'Not Categorized'
																	When [L_CHANNEL2] = '<Not Categorized>' Then 'Not Categorized'
																	When [L_CHANNEL2] = 'Contact Center' Then 'Contact Center'
																	When [L_CHANNEL2] = 'Contact Centers (Call Centers)' Then 'Contact Center'
																	When [L_CHANNEL2] = 'Branch' Then 'Branch'
																	When [L_CHANNEL2] = 'Deposit Operations' Then 'Deposit Operations'
																	When [L_CHANNEL2] = 'Fraud_Claims' Then 'Fraud & Claims'
																	When [L_CHANNEL2] = 'Chat' Then 'Chat'
																	Else 'Others'
																End		
	,[L_GROUP]												  = cfg.[L_GROUP]							
	,[L_MGR]												  = cfg.[L_MGR]							
	,[L_MKT]												  = cfg.[L_MKT]							
	,[L_REG]												  = cfg.[L_REG]							
	,[L_SITE]												  = cfg.[L_SITE]							
	,[L_TEAM]												  = cfg.[L_TEAM]							
	,[LEGAL_COMMENTS]										  = cfg.[LEGAL_COMMENTS]					
	,[OPTIONNAME]											  = cfg.[OPTIONNAME]						
	,[ORIGINATION]											  = cfg.[ORIGINATION]						
	,[PROD_ALIGN]											  = cfg.[PROD_ALIGN]						
	,[IS_REG_ISSUE]											  = cfg.[IS_REG_ISSUE]						
	,[REMEDIATION_NEEDED]									  = cfg.[REMEDIATION_NEEDED]				
	,[REMEDIATION_STATUS]									  = cfg.[REMEDIATION_STATUS]				
	,[RISK_COMMENTS]										  = cfg.[RISK_COMMENTS]					
	,[ROOT_CAUSE_NEED]										  = cfg.[ROOT_CAUSE_NEED]					
	,[ROOT_CAUSE_STAT]										  = cfg.[ROOT_CAUSE_STAT]					
	,[SECOND_REQUEST]										  = cfg.[SECOND_REQUEST]					
	,[SERVICING]											  = cfg.[SERVICING]						
	,[STATE]												  = cfg.[STATE]							
	,[IROOTCAUSESUMMARY]									  = cfg.[IROOTCAUSESUMMARY]				
	,[SUMMARY1]												  = cfg.[SUMMARY1]							
	,[SUPP_NOTES]											  = cfg.[SUPP_NOTES]						
	,[THEME]						    					  = cfg.[THEME]			
	,[iIncidentLocationOptionName]                            = cfg.[iIncidentLocationOptionName]																	    
Into  #BasePopulation
FROM #AllCaseRefrences                       acf   With (NoLock) 
      Left Join [TBL_COMPLAINTS]         cfg   With (NoLock) On acf.CASEREFERENCE                = cfg.CASEREFERENCE
      Left Join [TBL_REGULATIONS_INPUT]      reg   With (NoLock) On acf.CASEREFERENCE                = reg.CASEREFERENCE
      Left Join #PSCWithProductCode          psc1  With (NoLock) On acf.CASEREFERENCE                = psc1.CASEREFERENCE        
      Left Join #PSCNoProductCode            psc2  With (NoLock) On acf.CASEREFERENCE                = psc2.CASEREFERENCE   
      Left Join #LatestCmpl                  que   With (NoLock) On acf.CASEREFERENCE                = que.CASEREFERENCE
      Left Join [TBL_USER_PROFILES]          adv   With (NoLock) On que.ADVISOR_ID                   = adv.[USERID]
      Left Join [TBL_USER_PROFILES]          dir   With (NoLock) On que.DIRECTOR_ID                  = dir.[USERID]
      Left Join [TBL_USER_PROFILES]          usr   With (NoLock) On Left(que.QUEUE_DESCRIPTION,'7')  = usr.[USERID]
      Left Join [REF_REGULATIONS]            ref1  With (NoLock) On que.REALIGNED_REG_1              = ref1.[REGULATION_NUMBER]
      Left Join [REF_REGULATIONS]            ref2  With (NoLock) On que.REALIGNED_REG_2              = ref2.[REGULATION_NUMBER]
      Left Join [REF_REGULATIONS]            ref3  With (NoLock) On que.REALIGNED_REG_3              = ref3.[REGULATION_NUMBER]
      Left Join [REF_COMPLAINTTHEME]         thm1  With (NoLock) On que.[COMPLAINT_THEME_ID_1]       = thm1.Theme_Id
      Left Join [REF_COMPLAINTTHEME]         thm2  With (NoLock) On que.[COMPLAINT_THEME_ID_1]       = thm2.Theme_Id


IF OBJECT_ID('tempdb..#FinalBasePopulation') IS NOT NULL DROP TABLE #FinalBasePopulation
Select 
     [CASEREFERENCE]                        = bp.[CASEREFERENCE]                                      
       ,[D_LOGGEDDATE]                      = bp.[D_LOGGEDDATE]                                          
       ,[D_CLOSEDDATE]                      = bp.[D_CLOSEDDATE]                                          
       ,[CALDAYSCASEAGE]                    = bp.[CALDAYSCASEAGE]                                         
       ,[CENTERPOINTSIGNIFICANT]            = bp.[CENTERPOINTSIGNIFICANT]                          
       ,[COMPLAINTLVL1]                     = bp.[COMPLAINTLVL1]                                   
       ,[COMPLAINTLVL2]                     = bp.[COMPLAINTLVL2]                                   
       ,[COMPLAINTLVL3]                     = bp.[COMPLAINTLVL3]                                   
       ,[COMPLAINTLVL4]                     = bp.[COMPLAINTLVL4]                                   
       ,[COMPLAINTLVL5]                     = Replace(bp.[COMPLAINTLVL5],'%1A%','')                                    
       ,[CUSTOMERTYPE]                      = bp.[CUSTOMERTYPE]                                          
       ,[RECEIVEDFROM]                      = bp.[RECEIVEDFROM]                                          
       ,[L_BR]                              = bp.[L_BR]                                                         
       ,[DATEOFBIRTH]                       = bp.[DATEOFBIRTH]                                           
       ,[AGE]                               = bp.[AGE]                                                          
       ,[ISIGNIFICANTCRITERIAOPTIONNAME]    = bp.[ISIGNIFICANTCRITERIAOPTIONNAME]           
       ,[ISIGNIFICANTCRITERIAOPTIONLEVEL1]  = bp.[ISIGNIFICANTCRITERIAOPTIONLEVEL1]         
       ,[ISIGNIFICANTCRITERIAOPTIONLEVEL2]  = bp.[ISIGNIFICANTCRITERIAOPTIONLEVEL2]         
       ,[PRODUCTCODE]                       = bp.[PRODUCTCODE]                                           
       ,[PRODUCTDESCRIPTION]                = bp.[PRODUCTDESCRIPTION]                              
       ,[SUMMARY]                           = bp.[SUMMARY]                                                      
       ,[FINALCOMMENTS]                     = bp.[FINALCOMMENTS]                                   
       ,[COMMENTS]                          = bp.[COMMENTS]                                                     
       ,[ZIPCODE]                           = bp.[ZIPCODE]                                                      
       ,[IINCIDENTVENDOROPTIONNAME]         = bp.[IINCIDENTVENDOROPTIONNAME]                
       ,[IINCIDENTVENDOROTHER]              = bp.[IINCIDENTVENDOROTHER]                            
       ,[CLARABRIDGE_REG]                   = bp.[CLARABRIDGE_REG]                      
       ,[PSC_ID]                            = bp.[PSC_ID]                               
       ,[PRODUCT]                           = Isnull(bp.[PRODUCT],'Blank')                              
       ,[QUEUE_NUMBER]                      = bp.[QUEUE_NUMBER]                         
       ,[QUEUE_DESCRIPTION]                 = bp.[QUEUE_DESCRIPTION]                               
       ,[QUEUECREATEDATE]                   = bp.[QUEUECREATEDATE]                                        
       ,[COMPLAINT_FLAG]                    = bp.[COMPLAINT_FLAG]                                         
       ,[REALIGNED_PRODUCT_CODE]            = bp.[REALIGNED_PRODUCT_CODE]                          
       ,[REGULATORY_FLAG]                   = Isnull(bp.[REGULATORY_FLAG],'Blank')                                     
       ,[REALIGNED_REG_1]                   = bp.[REALIGNED_REG_1]                                        
       ,[REALIGNED_REG_2]                   = bp.[REALIGNED_REG_2]                                        
       ,[REALIGNED_REG_3]                   = bp.[REALIGNED_REG_3]                                        
       ,[REALIGNED_REG_1_NAME]              = bp.[REALIGNED_REG_1_NAME]                     
       ,[REALIGNED_REG_2_NAME]              = bp.[REALIGNED_REG_2_NAME]                     
       ,[REALIGNED_REG_3_NAME]              = bp.[REALIGNED_REG_3_NAME]                     
       ,[REALIGNED_REG_CIRR_VALUE_1]        = bp.[REALIGNED_REG_CIRR_VALUE_1]               
       ,[REALIGNED_REG_CIRR_VALUE_2]        = bp.[REALIGNED_REG_CIRR_VALUE_2]               
       ,[REALIGNED_REG_CIRR_VALUE_3]        = bp.[REALIGNED_REG_CIRR_VALUE_3]               
       ,[REALIGNED_REG_CIRR_TEXT_1]         = bp.[REALIGNED_REG_CIRR_TEXT_1]                
       ,[REALIGNED_REG_CIRR_TEXT_2]         = bp.[REALIGNED_REG_CIRR_TEXT_2]                
       ,[REALIGNED_REG_CIRR_TEXT_3]         = bp.[REALIGNED_REG_CIRR_TEXT_3]                
       ,[COMPLAINT_THEME_ID_1]              = bp.[COMPLAINT_THEME_ID_1]
       ,[COMPLAINT_THEME_1]                 = bp.[COMPLAINT_THEME_1]                               
       ,[COMPLAINT_THEME_ID_2]              = bp.[COMPLAINT_THEME_ID_2]
       ,[COMPLAINT_THEME_2]                 = bp.[COMPLAINT_THEME_2]                               
       ,[ROOT_CAUSE_NOTES]                  = bp.[ROOT_CAUSE_NOTES]                                       
       ,[ROOT_CAUSE_SUMMARY]                = bp.[ROOT_CAUSE_SUMMARY]                              
       ,[COMPLAINT_STATUS]                  = bp.[COMPLAINT_STATUS]                                       
       ,[COMPLAINT_SOLUTION]                = bp.[COMPLAINT_SOLUTION]                              
       ,[REG_ALIGNMENT_STATUS]              = bp.[REG_ALIGNMENT_STATUS]                            
       ,[IS_COMPLAINT]                      = bp.[IS_COMPLAINT]                                          
       ,[ACCESS_LVL]                        = bp.[ACCESS_LVL]                                             
       ,[ADVISOR]                           = bp.[ADVISOR]                              
       ,[DIRECTOR]                          = bp.[DIRECTOR] 
       ,Tool_Product                        = bp.Tool_Product                            
       ,REGULATION_MOD                      = bp.REGULATION_MOD         
       ,COMPLAINTTHEME_MOD                  = bp.COMPLAINTTHEME_MOD                        
       ,COMPLAINT_REG_ALIGNMENT_STATUS      = bp.COMPLAINT_REG_ALIGNMENT_STATUS                                                                     
       ,Risk_Factor                         = bp.Risk_Factor                                                                                        
       ,Description                         = bp.Description                                                                                               
       ,Unique_Queue_Description            = bp.Unique_Queue_Description               
       ,CALDAYSCASE_AGEBAND                 = Case
                                                When [CALDAYSCASEAGE]  Between  0 And 15 Then '0-15 Days'
                                                When [CALDAYSCASEAGE]  Between 15 And 30 Then '15-30 Days'
                                                When [CALDAYSCASEAGE]  Between 30 And 60 Then '30-60 Days'
                                                When [CALDAYSCASEAGE]  Between 61 And 90 Then '61-90 Days'
                                                Else '91+ Days'
                                              End
       ,CALDAYSCASE_AGEBAND_Flag            = Case
                                                When [CALDAYSCASEAGE]  Between  0 And 15 Then 0
                                                When [CALDAYSCASEAGE]  Between 15 And 30 Then 0
                                                When [CALDAYSCASEAGE]  Between 30 And 60 Then 0
                                                When [CALDAYSCASEAGE]  Between 61 And 90 Then 0
                                                Else 1
                                              End
       ,CIRR_SCORE_MOD                      = ref.CIRR_SCORE 
       ,CIRR_VALUE_MOD                      = ref.CIRR_VALUE
       ,LoggedMonthYear                     = Left(Convert(Varchar(30),Cast(bp.[D_LOGGEDDATE] as Date),100),3) + ' ' + Right(Convert(Varchar(30),Cast(bp.[D_LOGGEDDATE] as Date),100),4)
       ,LoggedMonth                         = CAST(CAST(YEAR(bp.[D_LOGGEDDATE]) AS VARCHAR(4)) + '/' + CAST(MONTH(bp.[D_LOGGEDDATE]) AS VARCHAR(2)) + '/01' AS DATE)
       ,ClosedMonth                         = CAST(CAST(YEAR(bp.[D_CLOSEDDATE]) AS VARCHAR(4)) + '/' + CAST(MONTH(bp.[D_CLOSEDDATE]) AS VARCHAR(2)) + '/01' AS DATE)
       ,ClosedMonthYear                     = Left(Convert(Varchar(30),Cast(bp.[D_CLOSEDDATE] as Date),100),3) + ' ' + Right(Convert(Varchar(30),Cast(bp.[D_CLOSEDDATE] as Date),100),4)
       ,PRODUCT_CATEGORY                    = prdl.PRODUCT_CATEGORY
       ,IS_Queued                           = Case when Unique_Queue_Description is null then 0 else 1 end
       ,UserId                              = bp.UserId  
       ,UserName                            = bp.UserName
       ,[Table_Type]                        = bp.[Table_Type]     
	   -- Additional Fields
	   ,[1STREG]                            = bp.[1STREG]                                        
	   ,[1STSUB_CATEGOR]					= bp.[1STSUB_CATEGOR]					
	   ,[2NDSUB_CATEGOR]					= bp.[2NDSUB_CATEGOR]					
	   ,[3RDSUB_CATEGOR]					= bp.[3RDSUB_CATEGOR]					
	   ,[2NDREG]							= bp.[2NDREG]							
	   ,[3RDREG]							= bp.[3RDREG]							
	   ,[ACCOUNTNUMBER]						= bp.[ACCOUNTNUMBER]					
	   ,[APPLICATIONNUMBER]					= bp.[APPLICATIONNUMBER]				
	   ,[CLARA_REG_ALIGN]					= bp.[CLARA_REG_ALIGN]					
	   ,[COMP_ADVISOR_COMMENTS]				= bp.[COMP_ADVISOR_COMMENTS]			
	   ,[ISCOMPLAINT]						= bp.[ISCOMPLAINT]						
	   ,[COMPLIANCE_COMMENTS]				= bp.[COMPLIANCE_COMMENTS]				
	   ,[COMPLIANCE_TRACKER]				= bp.[COMPLIANCE_TRACKER]				
	   ,[CORRECTED_PROD_ALIGN]				= bp.[CORRECTED_PROD_ALIGN]									
	   ,[IINCIDENTBANKID]					= bp.[IINCIDENTBANKID]					
	   ,[IINCIDENTBANKNAME]					= bp.[IINCIDENTBANKNAME]				
	   ,[IINCIDENTBRANCHID]					= bp.[IINCIDENTBRANCHID]				
	   ,[IINCIDENTBRANCHNAME]				= bp.[IINCIDENTBRANCHNAME]				
	   ,[IINCIDENTREGIONID]					= bp.[IINCIDENTREGIONID]				
	   ,[IINCIDENTREGIONNAME]				= bp.[IINCIDENTREGIONNAME]				
	   ,[ILOGGINGBANKID]					= bp.[ILOGGINGBANKID]					
	   ,[ILOGGINGBANKNAME]					= bp.[ILOGGINGBANKNAME]					
	   ,[ILOGGINGBRANCHID]					= bp.[ILOGGINGBRANCHID]					
	   ,[ILOGGINGBRANCHNAME]				= bp.[ILOGGINGBRANCHNAME]				
	   ,[ILOGGINGLOCATIONOPTIONNAME]		= bp.[ILOGGINGLOCATIONOPTIONNAME]		
	   ,[ILOGGINGREGIONID]					= bp.[ILOGGINGREGIONID]					
	   ,[ILOGGINGREGIONNAME]				= bp.[ILOGGINGREGIONNAME]				
	   ,[ILOGGINGVENDOROPTIONNAME]			= bp.[ILOGGINGVENDOROPTIONNAME]			
	   ,[INTERNAL_NOTES]					= bp.[INTERNAL_NOTES]					
	   ,[ISIGNIFICANTCRITERIAOPTIONLEVEL3]	= bp.[ISIGNIFICANTCRITERIAOPTIONLEVEL3]	
	   ,[ISIGNIFICANTCRITERIAOPTIONLEVEL4]	= bp.[ISIGNIFICANTCRITERIAOPTIONLEVEL4]	
	   ,[ISIGNIFICANTCRITERIAOPTIONLEVEL5]	= bp.[ISIGNIFICANTCRITERIAOPTIONLEVEL5]	
	   ,[L_AFF]								= bp.[L_AFF]							
	   ,[L_CHANNEL2]						= bp.[L_CHANNEL2]
	   ,[Channel_Band]                      = bp.[Channel_Band]						
	   ,[L_GROUP]							= bp.[L_GROUP]							
	   ,[L_MGR]								= bp.[L_MGR]							
	   ,[L_MKT]								= bp.[L_MKT]							
	   ,[L_REG]								= bp.[L_REG]							
	   ,[L_SITE]							= bp.[L_SITE]							
	   ,[L_TEAM]							= bp.[L_TEAM]							
	   ,[LEGAL_COMMENTS]					= bp.[LEGAL_COMMENTS]					
	   ,[OPTIONNAME]						= bp.[OPTIONNAME]						
	   ,[ORIGINATION]						= bp.[ORIGINATION]						
	   ,[PROD_ALIGN]						= bp.[PROD_ALIGN]						
	   ,[IS_REG_ISSUE]						= bp.[IS_REG_ISSUE]						
	   ,[REMEDIATION_NEEDED]				= bp.[REMEDIATION_NEEDED]				
	   ,[REMEDIATION_STATUS]				= bp.[REMEDIATION_STATUS]				
	   ,[RISK_COMMENTS]						= bp.[RISK_COMMENTS]					
	   ,[ROOT_CAUSE_NEED]					= bp.[ROOT_CAUSE_NEED]					
	   ,[ROOT_CAUSE_STAT]					= bp.[ROOT_CAUSE_STAT]					
	   ,[SECOND_REQUEST]					= bp.[SECOND_REQUEST]					
	   ,[SERVICING]							= bp.[SERVICING]						
	   ,[STATE]								= bp.[STATE]							
	   ,[IROOTCAUSESUMMARY]					= bp.[IROOTCAUSESUMMARY]				
	   ,[SUMMARY1]							= bp.[SUMMARY1]							
	   ,[SUPP_NOTES]						= bp.[SUPP_NOTES]						
	   ,[THEME]						    	= bp.[THEME]	
	   ,[iIncidentLocationOptionName]       = bp.[iIncidentLocationOptionName]
		--ID125
		--5/7/19
	   	--,iIncidentLocationOptionName							  = CASE
					--												 WHEN bp.[COMPLAINTLVL1] like '%citizens access%' then 'Citizens Access Related'
					--												Else bp.[iIncidentLocationOptionName]
					--											End		
  --ID343
   --6/7/19
   --,IINCIDENTVENDOROPTIONNAME				= Cast(IINCIDENTVENDOROPTIONNAME						   as varchar(100)) 
     ,[I_CHANNEL]			= CASE
								WHEN Cast(bp.COMPLAINTLVL1	as [varchar](100) )	 like '%citizens access%' THEN 'Citizens Access'
								WHEN bp.IINCIDENTVENDOROPTIONNAME = 'Citizens Access - General'				  THEN    'Citizens Access'
								WHEN bp.IINCIDENTVENDOROPTIONNAME = 'Citizens Access - CD'					  THEN    'Citizens Access'
								WHEN bp.IINCIDENTVENDOROPTIONNAME = 'Citizens Access - Savings'				  THEN    'Citizens Access'
								WHEN bp.COMPLAINTLVL1 = 'x-Citizens Access Related ONLY-x'					  THEN    'Citizens Access'
								WHEN bp.COMPLAINTLVL4 like '%Apple%'	and bp.[PSC_ID]='07.02'				  THEN    'Apple'
								WHEN bp.COMPLAINTLVL4 like '%Vivint%'	and bp.[PSC_ID]='07.02'				  THEN    'Vivint'
								WHEN bp.COMPLAINTLVL4 like '%Perl%'  	and bp.[PSC_ID]='07.02'				  THEN    'Perl'
								WHEN bp.COMPLAINTLVL5 like '%Apple%'	and bp.[PSC_ID]='07.02'				  THEN    'Apple'
								WHEN bp.COMPLAINTLVL5 like '%Vivint%'	and bp.[PSC_ID]='07.02'				  THEN    'Vivint'
								WHEN bp.COMPLAINTLVL5 like '%Perl%'  	and bp.[PSC_ID]='07.02'				  THEN    'Perl'
								WHEN bp.[iIncidentLocationOptionName] in ('ATM')							  THEN	   'ATM'
								WHEN bp.[iIncidentLocationOptionName] in ('Branch')						  THEN 'Branch'
								WHEN bp.[iIncidentLocationOptionName] in ('Contact Centers (Call Centers)')				  THEN 'Contact Centers (Call Centers)'
								WHEN bp.[iIncidentLocationOptionName] in ('Chat', 'Bank Website', 'Mobile App','Online Banking') THEN    'Digital Banking'
								WHEN bp.[PSC_ID]='07.02'				 THEN    'Legacy Consumer Unsecured'										   
								--Else Cast([iIncidentLocationOptionName]			   as varchar(100))
								ELSE 'Other'
								END
				    
	   ,[GROUP]                             = isnull(prodgp.[GROUP],'N/A')   --ID97 4/12/19	
	    --ID140 6/4/19
	   --,[SERVICING_ORIGINATION]             = Case 
	   --                                         WHEN SERVICING = 1 then 'SERVICING'
				--								WHEN ORIGINATION = 1 then 'ORIGINATION'
				--								ELSE 'N/A'
				--							  End 
	   ,[SERVICING_ORIGINATION]             = Case 
	                                            WHEN SERVICING = 1 then 'SERVICING'
												WHEN ORIGINATION = 1 then 'NON-SERVICING'
												ELSE 'NON-SERVICING'
											  End 
	   ,HIT_RATE                            = Case When bp.[REG_ALIGNMENT_STATUS] = 'Completed' and bp.REGULATION_MOD = bp.CLARABRIDGE_REG  Then 1 ELse 0 End     
	   ,MISS_RATE                           = Case 
	                                             When bp.[REG_ALIGNMENT_STATUS] = 'Completed' and bp.REGULATION_MOD not in ( 'FCRA - Consumer Credit Protection','TILA',
												                                                                        'Bankruptcy - 11','Annual Privacy & Opt Out(OCC)',
												                                                                        'ADA','Reg E','UDAAP','Reg DD','Can-Spam',
																														'ECOA','Reg CC','SCRA','FCRA -Regulation V',
																			                                            'FLOOD','FDCPA - Consumer Credit Protection','RESPA','Reg P',
																														 'Telemarketing Rules','Fair Housing','UNTAGGED') Then Null
	                                             When bp.[REG_ALIGNMENT_STATUS] = 'Completed' and bp.REGULATION_MOD <> bp.CLARABRIDGE_REG Then 1 
												 ELse 0 
											  End
		--ID463
		,[BRANCH MSA]         =  branchMSA.Branch_Name   
		,[Type_of_Branch]     =  Type_of_Branch
		,[BRANCH Latitude]    =  Latitude
		,[BRANCH Longitude]   =  Longitude
		,[BRANCH Region_Name] =  Region_Name
		,[BRANCH MSA_MD_NAME] =  MSA_MD_NAME
		,[BRANCH MSA_Name]    =  MSA_Name
Into #FinalBasePopulation
From #BasePopulation                                                        bp
     Left Join [REF_REGULATIONS]               ref    With (NoLock) On LTRIM(RTRIM(ref.REGULATION_NAME))   =  LTRIM(RTRIM(bp.REGULATION_MOD))     
     Left Join [REF_PRODUCTLIST]               prdl   With (NoLock) On prdl.PSC_ID                         =  bp.PSC_ID
	 left join [REF_INTERNAL_MGT_GP_TBL]       prodgp With (NoLock) On LTRIM(RTRIM(prodgp.[PRODUCT]))      =LTRIM(RTRIM(bp.[PRODUCT])) AND prodgp.IsActive=1   --ID97 4/12/19
	 --ID463
	 left join  [Complaints_Analytics].[dbo].[FL_Branch_DHPA_wTract] branchMSA on bp.ILOGGINGBRANCHNAME = branchMSA.Branch_Name and bp.[ILOGGINGBRANCHID]=cast(branchMSA.[Br_#] as VARCHAR(10))
where [D_CLOSEDDATE] <= eomonth(dateadd(mm,-1,getdate()))

--SELECT * INTO dbo.RPT_COMPLAINTS
--from #FinalBasePopulation

Truncate table dbo.RPT_COMPLAINTS

Insert Into  dbo.RPT_COMPLAINTS
Select * from #FinalBasePopulation

Update dbo.RPT_COMPLAINTS
Set COMPLAINTLVL5 = '(S) Does Not Appear'
Where COMPLAINTLVL5 = '(S) Doesn_t appear'


Update dbo.RPT_COMPLAINTS
Set CLARABRIDGE_REG = 'FCRA - Consumer Credit Protection'
Where CLARABRIDGE_REG = 'FCRA - Consumer Credit Protection '


/*#########################################################################################################################################################################################*/
/*#########################################################################################################################################################################################*/
/*#########################################################################################################################################################################################*/



IF OBJECT_ID('tempdb..#DistinctMonths') IS NOT NULL DROP TABLE #DistinctMonths
Select * Into #DistinctMonths from
(
Select EoMonth('2018-06-15') as QueueCreatedMonth
Union All 
Select EoMonth('2018-07-15') as QueueCreatedMonth
Union All 
Select EoMonth('2018-08-15') as QueueCreatedMonth
Union All 
Select EoMonth('2018-09-15') as QueueCreatedMonth
Union All 
Select EoMonth('2018-10-15') as QueueCreatedMonth
Union All 
Select EoMonth('2018-11-15') as QueueCreatedMonth
Union All 
Select EoMonth('2018-12-15') as QueueCreatedMonth
Union All
Select EoMonth('2019-01-15') as QueueCreatedMonth
Union All 
Select EoMonth('2019-02-15') as QueueCreatedMonth
Union All 
Select EoMonth('2019-03-15') as QueueCreatedMonth
Union All 
Select EoMonth('2019-04-15') as QueueCreatedMonth
Union All 
Select EoMonth('2019-05-15') as QueueCreatedMonth
Union All 
Select EoMonth('2019-06-15') as QueueCreatedMonth
Union All 
Select EoMonth('2019-07-15') as QueueCreatedMonth
Union All 
Select EoMonth('2019-08-15') as QueueCreatedMonth
Union All 
Select EoMonth('2019-09-15') as QueueCreatedMonth
Union All 
Select EoMonth('2019-10-15') as QueueCreatedMonth
Union All 
Select EoMonth('2019-11-15') as QueueCreatedMonth
Union All 
Select EoMonth('2019-12-15') as QueueCreatedMonth
Union All
Select EoMonth('2020-01-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2020-02-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2020-03-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2020-04-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2020-05-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2020-06-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2020-07-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2020-08-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2020-09-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2020-10-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2020-11-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2020-12-15') as QueueCreatedMonth
Union All
Select EoMonth('2021-01-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2021-02-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2021-03-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2021-04-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2021-05-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2021-06-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2021-07-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2021-08-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2021-09-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2021-10-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2021-11-15') as QueueCreatedMonth
Union All 		  
Select EoMonth('2021-12-15') as QueueCreatedMonth
) X

IF OBJECT_ID('tempdb..#UserMonthCombo') IS NOT NULL DROP TABLE #UserMonthCombo
Select
  USERID,
  FULL_NAME,
  QueueCreatedMonth
Into #UserMonthCombo
From [TBL_USER_PROFILES] Cross Join #DistinctMonths



IF OBJECT_ID('tempdb..#DistinctQueuesByUsers') IS NOT NULL DROP TABLE #DistinctQueuesByUsers
Select 
  USERID          = left(Ltrim(Rtrim(QUEUE_DESCRIPTION)),7),
  QUEUECREATEDATE = QUEUECREATEDATE,
  QUEUE_NUMBER     = QUEUE_NUMBER
Into #DistinctQueuesByUsers
from [TBL_CMPL_REG_ALIGNMENT]  cmpl with (NoLock) 
group by left(Ltrim(Rtrim(QUEUE_DESCRIPTION)),7),QUEUECREATEDATE,QUEUE_NUMBER
ORDER BY 2






IF OBJECT_ID('tempdb..#DistinctComplaints') IS NOT NULL DROP TABLE #DistinctComplaints
Select 
  USERID                = left(Ltrim(Rtrim(QUEUE_DESCRIPTION)),7),
  PSC_ID                = cmpl.PSC_ID,
  Product               = Product,
  Product_Category      = pl.Product_Category,
  QUEUECREATEDATE       = QUEUECREATEDATE,
  CASEREFERENCE         = CASEREFERENCE,
  Active_STATUS         = Case when REG_ALIGNMENT_STATUS = 'ACTIVE' Then 1 Else 0 End,
  Completed_STATUS      = Case when REG_ALIGNMENT_STATUS = 'COMPLETED' Then 1 Else 0 End,
  D_ClosedDate          = cmpl.D_ClosedDate
Into #DistinctComplaints
from [dbo].[RPT_COMPLAINTS]         cmpl with (NoLock) 
        Left Join REF_PRODUCTLIST pl   with (NoLock) on pl.PSC_ID = cmpl.PSC_ID
where cmpl.QUEUECREATEDATE is not null



IF OBJECT_ID('tempdb..#QueueBasePopulationByUser') IS NOT NULL DROP TABLE #QueueBasePopulationByUser
Select 
  USERID             = UP.USERID,
  FULLNAME           = UP.FULL_NAME,
  QUEUECREATEDMONTH   = UP.QueueCreatedMonth,
  TOTAL_QUEUES       = Count(dq.QUEUE_NUMBER)
Into #QueueBasePopulationByUser
FROM #UserMonthCombo                       UP   with (NoLock)
     Left Join #DistinctQueuesByUsers      dq   with (NoLock) on UP.USERID = dq.USERID and UP.QueueCreatedMonth = EoMonth(dq.QUEUECREATEDATE)
Group By  UP.USERID,  UP.FULL_NAME,UP.QueueCreatedMonth






IF OBJECT_ID('tempdb..#ComplaintsBasePopulationByUser') IS NOT NULL DROP TABLE #ComplaintsBasePopulationByUser
Select 
  USERID               = UP.USERID,
  FULLNAME             = UP.FULL_NAME,
  QUEUECREATEDMONTH    = UP.QueueCreatedMonth,
  TOTAL_COMPLAINTS     = Count(dc.CASEREFERENCE),
  ACTIVE_COMPLAINTS    = Sum(dc.Active_STATUS),
  COMPLETED_COMPLAINTS = Sum(dc.Completed_STATUS),
  PERC_ACTIVE          = Cast(Sum(dc.Active_STATUS) as Float)/Cast(Count(dc.CASEREFERENCE) as Float),
  PERC_COMPLETED       = Cast(Sum(dc.Completed_STATUS) as Float)/Cast(Count(dc.CASEREFERENCE) as Float),
  ACTIVE_QUEUES        = Case when Count(dc.CASEREFERENCE) > Sum(dc.Completed_STATUS) Then 1 else 0 end,
  COMPLETED_QUEUES     = Case when Count(dc.CASEREFERENCE) = Sum(dc.Completed_STATUS) Then 1 else 0 end
Into #ComplaintsBasePopulationByUser
FROM #UserMonthCombo                     UP   with (NoLock)
     Left Join #DistinctComplaints        dc   with (NoLock) on UP.USERID = dc.USERID and UP.QueueCreatedMonth = EoMonth(dc.QUEUECREATEDATE)
Group By  UP.USERID,  UP.FULL_NAME,UP.QueueCreatedMonth          



--Drop table dbo.RPT_COMPLAINTS_QUEUE_CATEGORY
IF OBJECT_ID('tempdb..#RPT_COMPLAINTS_QUEUE_CATEGORY') IS NOT NULL DROP TABLE #RPT_COMPLAINTS_QUEUE_CATEGORY
Select 
 * 
Into #RPT_COMPLAINTS_QUEUE_CATEGORY
From 
(
Select 
 [BUCKET]              = 'Total Queues',
[USER_ID]             = USERID,
FULLNAME              = FULLNAME,
QUEUECREATEDMONTH     = QUEUECREATEDMONTH,
TOTAL                 = Isnull(TOTAL_QUEUES,0)
From #QueueBasePopulationByUser

Union All

Select 
 [BUCKET]              = 'Total Complaints',
[USER_ID]             = USERID,
FULLNAME              = FULLNAME,
QUEUECREATEDMONTH     = QUEUECREATEDMONTH,
TOTAL                 = Isnull(TOTAL_COMPLAINTS,0)
From #ComplaintsBasePopulationByUser

Union All

Select 
 [BUCKET]              = 'Active Complaints',
[USER_ID]             = USERID,
FULLNAME              = FULLNAME,
QUEUECREATEDMONTH     = QUEUECREATEDMONTH,
TOTAL                 = Isnull(ACTIVE_COMPLAINTS,0)
From #ComplaintsBasePopulationByUser

Union All

Select 
 [BUCKET]              = 'Completed Complaints',
[USER_ID]             = USERID,
FULLNAME              = FULLNAME,
QUEUECREATEDMONTH     = QUEUECREATEDMONTH,
TOTAL                 = Isnull(COMPLETED_COMPLAINTS,0)
From #ComplaintsBasePopulationByUser

Union All

Select 
 [BUCKET]              = 'Percent Completed',
[USER_ID]             = USERID,
FULLNAME              = FULLNAME,
QUEUECREATEDMONTH     = QUEUECREATEDMONTH,
TOTAL                 = Isnull(PERC_COMPLETED,0.00)
From #ComplaintsBasePopulationByUser
) X
Where X.QUEUECREATEDMONTH <= Eomonth(getdate()) and X.QUEUECREATEDMONTH > '2018-07-31'
         and USER_ID not in ('D100793','J049451','J053582','D103045','D104113')


Truncate Table dbo.RPT_COMPLAINTS_QUEUE_CATEGORY

Insert Into dbo.RPT_COMPLAINTS_QUEUE_CATEGORY
Select * from #RPT_COMPLAINTS_QUEUE_CATEGORY


/*#########################################################################################################################################################################################*/
/*#########################################################################################################################################################################################*/
/*#########################################################################################################################################################################################*/

IF OBJECT_ID('tempdb..#ProductMonthCombo') IS NOT NULL DROP TABLE #ProductMonthCombo
Select
  p.Prodcat_ID,
  p.Product_Category,
  p.PSC_ID,
  Product  =  p.PSC_NAME,
  dm.QueueCreatedMonth
Into #ProductMonthCombo
From [REF_PRODUCTLIST] p Cross Join #DistinctMonths dm



IF OBJECT_ID('tempdb..#DistinctQueuesByProduct') IS NOT NULL DROP TABLE #DistinctQueuesByProduct
Select 
  PSC_ID            = cmpl.PSC_ID,
  Product           = cmpl.Product,
  Product_Category  = pl.Product_Category,
  QUEUE_DESCRIPTION = QUEUE_DESCRIPTION,
  QUEUECREATEDATE   = cmpl.QUEUECREATEDATE,
  QUEUE_NUMBER      = cmpl.QUEUE_NUMBER
Into #DistinctQueuesByProduct
from [dbo].[RPT_COMPLAINTS] cmpl with (NoLock) 
     Left Join REF_PRODUCTLIST pl with (NoLock) on pl.PSC_ID = cmpl.PSC_ID
where cmpl.QUEUECREATEDATE is not null
group by cmpl.PSC_ID,Product,pl.Product_Category,QUEUE_DESCRIPTION,QUEUECREATEDATE,QUEUE_NUMBER


IF OBJECT_ID('tempdb..#QueueBasePopulationByProduct') IS NOT NULL DROP TABLE #QueueBasePopulationByProduct
Select 
  PSC_ID              = pmc.PSC_ID,
  Product             = pmc.Product,
  Product_Category    = pmc.Product_Category,
  QUEUECREATEDMONTH   = pmc.QueueCreatedMonth,
  TOTAL_QUEUES        = Count(dqp.QUEUE_NUMBER)
Into #QueueBasePopulationByProduct
FROM #ProductMonthCombo                    pmc  with (NoLock)
     Left Join #DistinctQueuesByProduct    dqp  with (NoLock) on pmc.Product = dqp.Product and pmc.QueueCreatedMonth = EoMonth(dqp.QUEUECREATEDATE)
Group by pmc.PSC_ID,pmc.Product,pmc.Product_Category,pmc.QueueCreatedMonth



IF OBJECT_ID('tempdb..#ComplaintsBasePopulationByProductByMonth') IS NOT NULL DROP TABLE #ComplaintsBasePopulationByProductByMonth
Select 
  PSC_ID               = PMC.PSC_ID,
  Product              = PMC.Product,
  Product_Category     = PMC.Product_Category,
  QUEUECREATEDMONTH    = PMC.QueueCreatedMonth,
  TOTAL_COMPLAINTS     = Count(dc.CASEREFERENCE),
  ACTIVE_COMPLAINTS    = Sum(dc.Active_STATUS),
  COMPLETED_COMPLAINTS = Sum(dc.Completed_STATUS),
  PERC_ACTIVE          = Cast(Sum(dc.Active_STATUS) as Float)/Cast(Count(dc.CASEREFERENCE) as Float),
  PERC_COMPLETED       = Cast(Sum(dc.Completed_STATUS) as Float)/Cast(Count(dc.CASEREFERENCE) as Float),
  ACTIVE_QUEUES        = Case when Count(dc.CASEREFERENCE) > Sum(dc.Completed_STATUS) Then 1 else 0 end,
  COMPLETED_QUEUES     = Case when Count(dc.CASEREFERENCE) = Sum(dc.Completed_STATUS) Then 1 else 0 end
Into #ComplaintsBasePopulationByProductByMonth
FROM #ProductMonthCombo                   PMC   with (NoLock)
     Left Join #DistinctComplaints        dc    with (NoLock) on PMC.PSC_ID = dc.PSC_ID and PMC.QueueCreatedMonth = EoMonth(dc.QUEUECREATEDATE)
Group By  PMC.PSC_ID,  PMC.Product,PMC.Product_Category, PMC.QueueCreatedMonth   

IF OBJECT_ID('tempdb..#ComplaintsBasePopulationByMonth') IS NOT NULL DROP TABLE #ComplaintsBasePopulationByMonth
Select 
  QUEUECREATEDMONTH    = PMC.QueueCreatedMonth,
  TOTAL_COMPLAINTS     = Count(dc.CASEREFERENCE),
  ACTIVE_COMPLAINTS    = Sum(dc.Active_STATUS),
  COMPLETED_COMPLAINTS = Sum(dc.Completed_STATUS),
  PERC_ACTIVE          = Cast(Sum(dc.Active_STATUS) as Float)/Cast(Count(dc.CASEREFERENCE) as Float),
  PERC_COMPLETED       = Cast(Sum(dc.Completed_STATUS) as Float)/Cast(Count(dc.CASEREFERENCE) as Float),
  ACTIVE_QUEUES        = Case when Count(dc.CASEREFERENCE) > Sum(dc.Completed_STATUS) Then 1 else 0 end,
  COMPLETED_QUEUES     = Case when Count(dc.CASEREFERENCE) = Sum(dc.Completed_STATUS) Then 1 else 0 end
Into #ComplaintsBasePopulationByMonth
FROM #ProductMonthCombo                   PMC   with (NoLock)
     Left Join #DistinctComplaints        dc    with (NoLock) on PMC.PSC_ID = dc.PSC_ID and PMC.QueueCreatedMonth = EoMonth(dc.QUEUECREATEDATE)
Group By  PMC.QueueCreatedMonth   


IF OBJECT_ID('tempdb..#QueuedProducts') IS NOT NULL DROP TABLE #QueuedProducts
Select 
  *
into #QueuedProducts
From
(
  Select 
    Psc_ID            = cmpl.PSC_ID, 
    Product_Category  = cmpl.Product_Category,
    Product           = cmpl.Product,
    D_CLOSEDDATE      = cmpl.D_CLOSEDDATE,
    Total             = Case when Count(QUEUE_DESCRIPTION) > 0 then 1 else 0 end
  from [dbo].[RPT_COMPLAINTS] cmpl with (NoLock) 
  where Product_Category is not null 
        and D_CLOSEDDATE is not null 
  Group by cmpl.PSC_ID,cmpl.Product_Category,cmpl.Product,cmpl.D_CLOSEDDATE
) X
Where X.Total  = 1
Order by 4 desc






IF OBJECT_ID('tempdb..#RPT_COMPLAINTS_QUEUE_PRODUCT') IS NOT NULL DROP TABLE #RPT_COMPLAINTS_QUEUE_PRODUCT
Select 
 * 
Into #RPT_COMPLAINTS_QUEUE_PRODUCT
From 
(
Select 
    [BUCKET]              = 'Total Queues',
    PSC_ID                = PSC_ID,
    Product               = Product,
    Product_Category      = Product_Category,
    QUEUECREATEDMONTH     = QUEUECREATEDMONTH,
    TOTAL                 = Isnull(TOTAL_QUEUES,0),
       ClosedMonth           = Null
From #QueueBasePopulationByProduct

Union All

Select 
    [BUCKET]              = 'Total Complaints',
    PSC_ID                = PSC_ID,
    Product               = Product,
    Product_Category      = Product_Category,
    QUEUECREATEDMONTH     = QUEUECREATEDMONTH,
    TOTAL                 = Isnull(TOTAL_COMPLAINTS,0),
       ClosedMonth           = Null
From #ComplaintsBasePopulationByProductByMonth

Union All

Select 
    [BUCKET]              = 'Active Complaints',
    PSC_ID                = PSC_ID,
    Product               = Product,
    Product_Category      = Product_Category,
    QUEUECREATEDMONTH     = QUEUECREATEDMONTH,
    TOTAL                 = Isnull(ACTIVE_COMPLAINTS,0),
       ClosedMonth           = Null
From #ComplaintsBasePopulationByProductByMonth

Union All

Select 
    [BUCKET]              = 'Completed Complaints',
    PSC_ID                = PSC_ID,
    Product               = Product,
    Product_Category      = Product_Category,
    QUEUECREATEDMONTH     = QUEUECREATEDMONTH,
    TOTAL                 = Isnull(COMPLETED_COMPLAINTS,0),
       ClosedMonth           = Null
From #ComplaintsBasePopulationByProductByMonth

Union All

Select 
    [BUCKET]              = 'Percent Completed Per Product',
    PSC_ID                = PSC_ID,
    Product               = Product,
    Product_Category      = Product_Category,
    QUEUECREATEDMONTH     = QUEUECREATEDMONTH,
    TOTAL                 = Isnull(PERC_COMPLETED,0.0),
       ClosedMonth           = Null
From #ComplaintsBasePopulationByProductByMonth

Union All

Select 
    Bucket = 'Percent Completed',
    PSC_ID                = Null,
    Product               = Null,
    Product_Category      = Null,
    QUEUECREATEDMONTH     = dm.QueueCreatedMonth,
    TOTAL                 = (Cast(isnull(tc.TotalCompleted,0) as Float)/Cast(clo.TotalClosed as Float)) * 1.0,
       ClosedMonth           = Null
from #DistinctMonths dm
     Left Join (Select  
                      D_ClosedMonth = Eomonth(D_CLOSEDDATE), TotalClosed = Count(D_CLOSEDDATE) 
                           From [dbo].[RPT_COMPLAINTS] 
                           Group By Eomonth(D_CLOSEDDATE)) clo On D_ClosedMonth = dm.QueueCreatedMonth
       Left Join (Select 
                              QueueCreatedMonth = Eomonth(QUEUECREATEDATE),TotalCompleted = Sum(Completed_STATUS) 
                           from #DistinctComplaints
                           Group By Eomonth(QUEUECREATEDATE)) tc on tc.QueueCreatedMonth = dm.QueueCreatedMonth
Where dm.QueueCreatedMonth < '2018-09-01'

Union All

Select 
    Bucket                = 'Percent Completed By Closed Date', 
    PSC_ID                = Null,
    Product               = Null,
    Product_Category      = Null,
    QueueCreatedMonth     = tqc.D_ClosedMonth,
    TOTAL                 = (Cast(isnull(tqc.TotalQueuedClosed,0) as Float)/Cast(tc.TotalClosed as Float)) * 1.0,
       ClosedMonth           = tqc.D_ClosedMonth
from 
      (
            Select  
                 D_ClosedMonth = Eomonth(D_CLOSEDDATE),TotalQueuedClosed = Count(D_CLOSEDDATE) 
            From [dbo].[RPT_COMPLAINTS] 
            Where Eomonth(QUEUECREATEDATE) is not null
            Group By Eomonth(D_CLOSEDDATE)
         ) tqc
      left join 
         (
            Select  
              D_ClosedMonth = Eomonth(D_CLOSEDDATE), TotalClosed = Count(D_CLOSEDDATE) 
         From [dbo].[RPT_COMPLAINTS] 
               where Description = 'Complaints'
         Group By Eomonth(D_CLOSEDDATE)
      ) tc
         on tqc.D_ClosedMonth = tc.D_ClosedMonth

Union All

Select 
    Bucket                = 'Total Queued Complaints By Closed Date', 
    PSC_ID                = Null,
    Product               = Null,
    Product_Category      = Null,
    QueueCreatedMonth     = tqc.D_ClosedMonth,
    TOTAL                 = tqc.TotalQueuedClosed,
       ClosedMonth           = tqc.D_ClosedMonth
from 
      (
            Select  
                 D_ClosedMonth = Eomonth(D_CLOSEDDATE),TotalQueuedClosed = Count(D_CLOSEDDATE) 
            From [dbo].[RPT_COMPLAINTS] 
            Where Eomonth(QUEUECREATEDATE) is not null
            Group By Eomonth(D_CLOSEDDATE)
         ) tqc

Union All



Select 
    Bucket                = 'All Complaints By Closed Date', 
    PSC_ID                = Null,
    Product               = Null,
    Product_Category      = Null,
    QueueCreatedMonth     = tqc.D_ClosedMonth,
    TOTAL                 = tc.TotalClosed,
       ClosedMonth           = tqc.D_ClosedMonth
from 
      (
            Select  
                 D_ClosedMonth = Eomonth(D_CLOSEDDATE),TotalQueuedClosed = Count(D_CLOSEDDATE) 
            From [dbo].[RPT_COMPLAINTS] 
            Where Eomonth(QUEUECREATEDATE) is not null
            Group By Eomonth(D_CLOSEDDATE)
         ) tqc
      left join 
         (
            Select  
              D_ClosedMonth = Eomonth(D_CLOSEDDATE), TotalClosed = Count(D_CLOSEDDATE) 
         From [dbo].[RPT_COMPLAINTS] 
               where Description = 'Complaints'
         Group By Eomonth(D_CLOSEDDATE)
      ) tc
         on tqc.D_ClosedMonth = tc.D_ClosedMonth
Where tc.TotalClosed is not Null

Union All


Select 
    [BUCKET]              = 'Products Not Queued',
    PSC_ID                = X.PSC_ID,
    Product               = X.Product,
    Product_Category      = X.Product_Category,
    QUEUECREATEDMONTH     = Y.QUEUECREATEDMONTH,
    TOTAL                 = Isnull(X.TOTAL_COMPLAINTS,0),
       ClosedMonth           = X.ClosedMonth
From 
  (
    Select 
              Psc_ID,
              Product_Category,
              Product,
              ClosedMonth = EOMONTH(D_CLOSEDDATE),
              TOTAL_COMPLAINTS = Count(CASEREFERENCE)
       From [dbo].[RPT_COMPLAINTS]
       where Description = 'Complaints'
       group by Psc_ID,Product_Category,Product,EOMONTH(D_CLOSEDDATE)
  ) X
  Left Join 
  (
    Select 
         Psc_ID,
         Product_Category,
         Product,
      QueueCreatedMonth = EOMONTH(QUEUECREATEDATE),
      TOTAL_COMPLAINTS = Count(CASEREFERENCE)
    From [dbo].[RPT_COMPLAINTS]
    Where IS_Queued = 1
    group by Psc_ID,Product_Category,Product,EOMONTH(QUEUECREATEDATE)
  ) Y On X.Product = Y.PRODUCT and X.ClosedMonth = Y.QueueCreatedMonth
Where Y.Product is null

) X


Truncate Table dbo.RPT_COMPLAINTS_QUEUE_PRODUCT

Insert Into dbo.RPT_COMPLAINTS_QUEUE_PRODUCT
Select * from #RPT_COMPLAINTS_QUEUE_PRODUCT


/*#########################################################################################################################################################################################*/
/*#########################################################################################################################################################################################*/
/*#########################################################################################################################################################################################*/

--Drop table dbo.RPT_COMPLAINTS_QUEUE
IF OBJECT_ID('tempdb..#RPT_COMPLAINTS_QUEUE') IS NOT NULL DROP TABLE #RPT_COMPLAINTS_QUEUE
Select 
  Unique_Queue_Description ,
  QueueCreatedMonth                  = Eomonth(QUEUECREATEDATE),
  TotalQueue                         = 1,
  TotalComplaints                    = Count(Casereference),
  ActiveComplaints                   = Sum(Case when REG_ALIGNMENT_STATUS = 'ACTIVE' Then 1 Else 0 END),
  CompletedComplaints                = Sum(Case when REG_ALIGNMENT_STATUS = 'COMPLETED' Then 1 Else 0 END),
  Is_Queue_Active                    = Case when Sum(Case when REG_ALIGNMENT_STATUS = 'COMPLETED' Then 1 Else 0 END) = Count(Casereference) Then 'Completed' else 'Active' end,
  ActiveQueues                       = Case when Sum(Case when REG_ALIGNMENT_STATUS = 'COMPLETED' Then 1 Else 0 END) < Count(Casereference) Then 1 else 0 end,
  CompletedQueues                    = Case when Sum(Case when REG_ALIGNMENT_STATUS = 'COMPLETED' Then 1 Else 0 END) = Count(Casereference) Then 1 else 0 end
Into #RPT_COMPLAINTS_QUEUE
From 
    (Select Unique_Queue_Description = ([QUEUE_DESCRIPTION] + '-' + Cast([QUEUE_NUMBER] as Varchar(10))),* from [TBL_CMPL_REG_ALIGNMENT] ) X
Where  (ADVISOR_ID not in ('D100793','J049451','J053582','D1013045','D104113') AND DIRECTOR_ID not in ('D100793','J049451','J053582','D1013045','D104113'))
       AND Eomonth(QUEUECREATEDATE) <= Eomonth(getdate())
          and Eomonth(QUEUECREATEDATE) >= Eomonth(Dateadd(mm,-7,getdate()))
Group By Unique_Queue_Description,Eomonth(QUEUECREATEDATE)



Truncate table dbo.RPT_COMPLAINTS_QUEUE

Insert Into dbo.RPT_COMPLAINTS_QUEUE
Select * from #RPT_COMPLAINTS_QUEUE
           
/*#########################################################################################################################################################################################*/
/*#########################################################################################################################################################################################*/
/*#########################################################################################################################################################################################*/



--Drop Table dbo.RPT_COMPLAINTS_FIELD_CHANGES

IF OBJECT_ID('tempdb..#RPT_COMPLAINTS_FIELD_CHANGES') IS NOT NULL DROP TABLE #RPT_COMPLAINTS_FIELD_CHANGES
Select 
  *
Into #RPT_COMPLAINTS_FIELD_CHANGES
From 
(

    Select 
      Bucket                       = 'Is Complaint Change',
      PRODUCT_CATEGORY             = PRODUCT,
      USERNAME                     = UserName, 
         QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
      Numerator                    = Null, 
      Denominator                  = Null, 
      Change                       = Sum(Case when IS_COMPLAINT = 'NO' and REG_ALIGNMENT_STATUS = 'Completed' Then 1 ELse 0 End)
    From [dbo].[RPT_COMPLAINTS] with (nolock)
    where Description = 'Complaints' and IS_Queued = 1
    group By UserName,PRODUCT,eomonth(QUEUECREATEDATE)
    
    Union All
    

       Select 
          Bucket                       = '% Is Complaint Change',
          PRODUCT_CATEGORY             = c1.PRODUCT_CATEGORY,
          USERNAME                     = UserName, 
          QUEUECREATEDATE              = c1.QUEUECREATEDATE,
          Numerator                    = c1.Numerator,
          Denominator                  = c2.Denominator,
          Change                       = Isnull((c1.Numerator/c2.Denominator),0)
       From 
          (
         Select 
           PRODUCT_CATEGORY             = PRODUCT,
           USERNAME                     = UserName, 
              QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
           Numerator                    = Isnull(Cast(Sum(Case when IS_COMPLAINT = 'NO' and REG_ALIGNMENT_STATUS = 'Completed' Then 1 ELse 0 End) as Float),0)
         From [dbo].[RPT_COMPLAINTS] with (nolock)
         where Description = 'Complaints' and IS_Queued = 1
         group By UserName,PRODUCT,eomonth(QUEUECREATEDATE)
          ) c1
          Left Join 
          (
         Select 
              QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
           Denominator                  = Cast(Count(CASEREFERENCE)  as Float)
         From [dbo].[RPT_COMPLAINTS] with (nolock)
         where Description = 'Complaints' and IS_Queued = 1 
               Group By eomonth(QUEUECREATEDATE)
          ) c2 on c1.QUEUECREATEDATE = c2.QUEUECREATEDATE
                 
    
    
    Union All
    
    Select 
      Bucket                       = 'Is Regulatory Change',
      PRODUCT_CATEGORY             = PRODUCT,
      USERNAME                     = UserName, 
         QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
      Numerator                    = Null, 
      Denominator                  = Null, 
      Change                          = Isnull(Cast(Sum(Case 
                                                              When REG_ALIGNMENT_STATUS = 'Completed' and  CLARABRIDGE_REG =  'UNTAGGED' and REGULATORY_FLAG = 'YES' Then 1 
                                                                                                When REG_ALIGNMENT_STATUS = 'Completed' and  CLARABRIDGE_REG <> 'UNTAGGED' and REGULATORY_FLAG = 'No' Then 1 
                                                                                             ELse Null 
                                                                                           End) as Float) ,0)
    From [dbo].[RPT_COMPLAINTS] with (nolock)
    where Description = 'Complaints' and IS_Queued = 1
    group By UserName,PRODUCT,eomonth(QUEUECREATEDATE)
       
    
    
    Union All
    
       Select 
          Bucket                       = '% Is Regulatory Change',
          PRODUCT_CATEGORY             = c1.PRODUCT_CATEGORY,
          USERNAME                     = UserName, 
          QUEUECREATEDATE              = c1.QUEUECREATEDATE,
          Numerator                    = c1.Numerator,
          Denominator                  = c2.Denominator,
          Change                       = Isnull((c1.Numerator/c2.Denominator),0)
       From 
          (
         Select 
           PRODUCT_CATEGORY         = PRODUCT,
           USERNAME                 = UserName, 
              QUEUECREATEDATE          = eomonth(QUEUECREATEDATE),
           Numerator                = Isnull(Cast(Sum(Case 
                                                              When REG_ALIGNMENT_STATUS = 'Completed' and  CLARABRIDGE_REG =  'UNTAGGED' and REGULATORY_FLAG = 'YES' Then 1 
                                                                                                When REG_ALIGNMENT_STATUS = 'Completed' and  CLARABRIDGE_REG <> 'UNTAGGED' and REGULATORY_FLAG = 'No' Then 1 
                                                                                             ELse Null 
                                                                                           End) as Float) ,0)
         From [dbo].[RPT_COMPLAINTS] with (nolock)
         where Description = 'Complaints' and IS_Queued = 1
         group By UserName,PRODUCT,eomonth(QUEUECREATEDATE)
              ) c1
          Left Join 
          (
         Select 
              QUEUECREATEDATE          = eomonth(QUEUECREATEDATE),
           Denominator              = Cast(Sum(Case when IS_COMPLAINT = 'Yes' Then 1 ELse Null End) as Float) * 1.0
         From [dbo].[RPT_COMPLAINTS] with (nolock)
         where Description = 'Complaints' and IS_Queued = 1  and  REG_ALIGNMENT_STATUS = 'Completed'
              Group By eomonth(QUEUECREATEDATE)
          ) c2 on c1.QUEUECREATEDATE = c2.QUEUECREATEDATE



    
    Union All
    

    Select 
      Bucket                       = 'Product Change',
      PRODUCT_CATEGORY             = PRODUCT,
      USERNAME                     = UserName, 
         QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
      Numerator                    = Null, 
      Denominator                  = Null, 
      Change                          = Isnull(Cast(Sum(Case when REG_ALIGNMENT_STATUS = 'Completed' and IS_COMPLAINT = 'Yes' and REGULATORY_FLAG = 'YES' and  Isnull(Product,'Blank') <> Isnull(Tool_Product,'Blank') Then 1 ELse Null End) as Float) , 0)
    From [dbo].[RPT_COMPLAINTS] with (nolock)
    where Description = 'Complaints' and IS_Queued = 1
    group By UserName,PRODUCT,eomonth(QUEUECREATEDATE)
    
    
    Union All
    

       Select 
          Bucket                       = '% Product Change',
          PRODUCT_CATEGORY             = c1.PRODUCT_CATEGORY,
          USERNAME                     = UserName, 
          QUEUECREATEDATE              = c1.QUEUECREATEDATE,
          Numerator                    = c1.Numerator,
          Denominator                  = c2.Denominator,
          Change                       = Isnull((c1.Numerator/c2.Denominator),0)
       From 
          (
         Select 
           PRODUCT_CATEGORY             = PRODUCT,
           USERNAME                     = UserName, 
              QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
           Numerator                    = Isnull(Cast(Sum(Case when REG_ALIGNMENT_STATUS = 'Completed' and IS_COMPLAINT = 'Yes' and REGULATORY_FLAG = 'YES' and  Isnull(Product,'Blank') <> Isnull(Tool_Product,'Blank') Then 1 ELse Null End) as Float) , 0)
         From [dbo].[RPT_COMPLAINTS] with (nolock)
         where Description = 'Complaints' and IS_Queued = 1
         group By UserName,PRODUCT,eomonth(QUEUECREATEDATE)
          ) c1
          Left Join 
          (
          Select 
               QUEUECREATEDATE          = eomonth(QUEUECREATEDATE),
            Denominator              = Cast(Sum(Case when REGULATORY_FLAG = 'YES' Then 1 ELse Null End) as Float) * 1.0
          From [dbo].[RPT_COMPLAINTS] with (nolock)
          where Description = 'Complaints' and IS_Queued = 1  and  REG_ALIGNMENT_STATUS = 'Completed'
                Group By eomonth(QUEUECREATEDATE)
          ) c2 on c1.QUEUECREATEDATE = c2.QUEUECREATEDATE




    Union All
    
    
    
    Select 
      Bucket                       = 'Regulation Change',
      PRODUCT_CATEGORY             = PRODUCT,
      USERNAME                     = UserName, 
         QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
      Numerator                    = Null, 
      Denominator                  = Null, 
      Change                       = Sum(Case 
                                            When   IS_COMPLAINT = 'Yes' and  REGULATORY_FLAG = 'YES' and  REG_ALIGNMENT_STATUS = 'Completed' and ((CLARABRIDGE_REG <> Isnull(REALIGNED_REG_1_NAME,'UNTAGGED')) or (CLARABRIDGE_REG <> Isnull(REALIGNED_REG_2_NAME,'UNTAGGED')) or (CLARABRIDGE_REG <> Isnull(REALIGNED_REG_3_NAME,'UNTAGGED'))) Then 1
                                                             Else 0 
                                                         End)
    From [dbo].[RPT_COMPLAINTS] with (nolock)
    where Description = 'Complaints' and IS_Queued = 1
    group By UserName,PRODUCT,eomonth(QUEUECREATEDATE)
    
    
    Union All
    
       Select 
          Bucket                       = '% Regulation Change',
          PRODUCT_CATEGORY             = c1.PRODUCT_CATEGORY,
          USERNAME                     = UserName, 
          QUEUECREATEDATE              = c1.QUEUECREATEDATE,
          Numerator                    = c1.Numerator,
          Denominator                  = c2.Denominator,
          Change                       = Isnull((c1.Numerator/c2.Denominator),0)
       From 
          (
         Select 
           PRODUCT_CATEGORY             = PRODUCT,
           USERNAME                     = UserName, 
              QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
           Numerator                    = Sum(Case 
                                                When   IS_COMPLAINT = 'Yes' and  REGULATORY_FLAG = 'YES' and  REG_ALIGNMENT_STATUS = 'Completed' and ((CLARABRIDGE_REG <> Isnull(REALIGNED_REG_1_NAME,'UNTAGGED')) or (CLARABRIDGE_REG <> Isnull(REALIGNED_REG_2_NAME,'UNTAGGED')) or (CLARABRIDGE_REG <> Isnull(REALIGNED_REG_3_NAME,'UNTAGGED'))) Then 1
                                                                 Else 0 
                                                             End)
         From [dbo].[RPT_COMPLAINTS] with (nolock)
         where Description = 'Complaints' and IS_Queued = 1
         group By UserName,PRODUCT,eomonth(QUEUECREATEDATE)
          ) c1
          Left Join 
          (
          Select 
               QUEUECREATEDATE          = eomonth(QUEUECREATEDATE),
            Denominator              = Cast(Sum(Case when REGULATORY_FLAG = 'YES' Then 1 ELse Null End) as Float) * 1.0
          From [dbo].[RPT_COMPLAINTS] with (nolock)
          where Description = 'Complaints' and IS_Queued = 1   and  REG_ALIGNMENT_STATUS = 'Completed'
                Group By eomonth(QUEUECREATEDATE)
          ) c2 on c1.QUEUECREATEDATE = c2.QUEUECREATEDATE


       Union All

    Select 
          Bucket                       = 'Queued Complaints',
          PRODUCT_CATEGORY             = Null,
          USERNAME                     = Null, 
          QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
          Numerator                    = Null,
          Denominator                  = Null,
          Change                       = Cast(Count(CASEREFERENCE)  as Float)
    From [dbo].[RPT_COMPLAINTS] with (nolock)
    Where Description = 'Complaints' and IS_Queued = 1
       Group By eomonth(QUEUECREATEDATE)


       Union All

    Select 
          Bucket                       = 'Verified Complaints',
          PRODUCT_CATEGORY             = Null,
          USERNAME                     = Null, 
          QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
          Numerator                    = Null,
          Denominator                  = Null,
          Change                       = Cast(Sum(Case when IS_COMPLAINT = 'Yes' Then 1 ELse Null End) as Float) * 1.0
    From [dbo].[RPT_COMPLAINTS] with (nolock)
    Where Description = 'Complaints' and IS_Queued = 1     and  REG_ALIGNMENT_STATUS = 'Completed'
       Group By eomonth(QUEUECREATEDATE) 

       Union All

    Select 
          Bucket                       = 'Verified Regulatory For Products',
          PRODUCT_CATEGORY             = Null,
          USERNAME                     = Null, 
          QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
          Numerator                    = Null,
          Denominator                  = Null,
          Change                       = Cast(Sum(Case when REGULATORY_FLAG = 'YES' Then 1 ELse Null End) as Float) * 1.0
    From [dbo].[RPT_COMPLAINTS] with (nolock)
    Where Description = 'Complaints' and IS_Queued = 1     and  REG_ALIGNMENT_STATUS = 'Completed'
       Group By eomonth(QUEUECREATEDATE) 

       Union All

    Select 
          Bucket                       = 'Verified Regulatory For Regulations',
          PRODUCT_CATEGORY             = Null,
          USERNAME                     = Null, 
          QUEUECREATEDATE              = eomonth(QUEUECREATEDATE),
          Numerator                    = Null,
          Denominator                  = Null,
          Change                       = Cast(Sum(Case when REGULATORY_FLAG = 'YES' Then 1 ELse Null End) as Float) * 1.0
    From [dbo].[RPT_COMPLAINTS] with (nolock)
    Where Description = 'Complaints' and IS_Queued = 1     and  REG_ALIGNMENT_STATUS = 'Completed'
       Group By eomonth(QUEUECREATEDATE) 


) X


Truncate Table dbo.RPT_COMPLAINTS_FIELD_CHANGES

Insert Into dbo.RPT_COMPLAINTS_FIELD_CHANGES
Select * from #RPT_COMPLAINTS_FIELD_CHANGES



--##############################################################################################################################################################

IF OBJECT_ID('tempdb..#RPT_ZIP_MSA_STG') IS NOT NULL DROP TABLE #RPT_ZIP_MSA_STG
Select 
   Cmpl.CASEREFERENCE
  ,Cmpl.I_CHANNEL
  ,Cmpl.IINCIDENTREGIONNAME
  ,Cmpl.D_LoggedDate
  ,Cmpl.D_CLOSEDDATE
  ,stg.[Y]
  ,stg.[X]
  ,stg.[M_ZIP]
  ,stg.[M_OBS]
  ,stg.[_MATCHED_]
  ,stg.[_STATUS_]
  ,stg.[_NOTES_]
  ,stg.[_SCORE_]
  ,stg.[VAR1]
  ,stg.[ZIPCODE]
  ,stg.[Zip]
  ,stg.[Objectid]
  ,stg.[Id]
  ,stg.[MSA MD Code]
  ,stg.[MSA MD NAME]
  ,stg.[St_abbrev]
  ,stg.[Totpop_cy]
  ,stg.[Tothh_cy]
  ,stg.[Totpop_fy]
  ,stg.[Tothh_fy]
  ,stg.[Landarea]
Into #RPT_ZIP_MSA_STG
from [dbo].[RPT_COMPLAINTS] cmpl
     inner join dbo.TBL_CMPL_ZIP_MSA_STG stg on cmpl.CASEREFERENCE = stg.CASEREFERENCE

Truncate table dbo.RPT_ZIP_MSA_STG

Insert into dbo.RPT_ZIP_MSA_STG
Select * from #RPT_ZIP_MSA_STG


End
--select * from dbo.RPT_COMPLAINTS_FIELD_CHANGES where product_Category like '%Education%';--364 records