USE [Monitoring]
GO
/****** Object:  StoredProcedure [dbo].[Uspload_Legal_Entity_BS]    Script Date: 9/6/2021 5:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[Uspload_Legal_Entity_BS_2] 
AS
BEGIN

Set Nocount on

IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp', N'U')     IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp

IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_2', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_2

IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_3', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_3

IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_4', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_4

IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_5', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_5

IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_6', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_6

IF OBJECT_ID (N'Legal_Entity_BS_Input', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Input


IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp
select 
  * 
Into dbo.Legal_Entity_BS_Stage_Temp
from [dbo].[Legal_Entity_BS_Stage] With (NoLock)


Declare @tableName nvarchar(max) = 'Legal_Entity_BS_Stage_Temp'
Declare @FieldName nvarchar(max)
Declare @SQL nvarchar(max)
Declare @CountDef nvarchar(max)
Declare @FieldCount int


declare fieldNames cursor  local fast_forward for
select 
  c.name
from syscolumns c 
     inner join sysobjects o on c.id=o.id
where o.xtype='U'
      and o.Name=@tableName


Open fieldNames 

Fetch next from fieldNames into @FieldName
While (@@fetch_status=0)
  Begin
    Set @SQL=N'select @Count=count(*) from "'+@TableName+'" where "'+@FieldName+'" is not null'
    Set @CountDef = N'@Count int output';
    Exec sp_executeSQL @SQL, @CountDef, @Count = @FieldCount output
    If (@FieldCount<30)
    Begin
      Set @SQL = 'alter table '+@TableName+' drop column '+@FieldName
      Exec sp_executesql  @SQL
    End
    Fetch next from fieldNames into @FieldName
  End

Close fieldNames



IF OBJECT_ID('tempdb..#Legal_Entity_BS_Stage_Temp') IS NOT NULL DROP TABLE #Legal_Entity_BS_Stage_Temp
Select 
  RowNum = ROW_NUMBER() OVER (ORDER BY Isnull(F1,'00000')),
  * 
Into #Legal_Entity_BS_Stage_Temp
From dbo.Legal_Entity_BS_Stage_Temp



Update #Legal_Entity_BS_Stage_Temp Set F1 = 'AssetID' Where RowNum = 1

Update #Legal_Entity_BS_Stage_Temp Set F2 = 'AssetName' Where RowNum = 1

Delete from #Legal_Entity_BS_Stage_Temp Where F1 = 'ASSETS'


IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_2', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_2
Select 
  top 6 * 
Into dbo.Legal_Entity_BS_Stage_Temp_2
From #Legal_Entity_BS_Stage_Temp Order by 1



Alter table dbo.Legal_Entity_BS_Stage_Temp_2 Drop Column RowNum



IF OBJECT_ID('tempdb..#Temp2') IS NOT NULL DROP TABLE #Temp2
Select 
    RowNum        = ROW_NUMBER() OVER (ORDER BY Name),
	Name          = 'F' + Cast( Name as Varchar(10))
Into #Temp2
From 
(
	select 
		name = Cast(Substring(c.name ,2,len(c.name)) as Int)
	from syscolumns c 
	     inner join sysobjects o on c.id=o.id
	where o.xtype='U' and o.Name='Legal_Entity_BS_Stage_Temp_2'
) X 





Declare @FinalRowNum Int 
Declare @InitialRowNum Int 
Declare @ColumnName Varchar(10)

Set @InitialRowNum = 1
Set @FinalRowNum = (Select Max(RowNum) from #Temp2)

While @InitialRowNum <= @FinalRowNum
Begin


   Set @ColumnName = (Select Name from #Temp2 where RowNum = @InitialRowNum)
   
   
   IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_3', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_3
   Create table dbo.Legal_Entity_BS_Stage_Temp_3
   (
    RowNum  Int Identity (1,1) Primary Key
   )
   
   
   Declare @SqlText Varchar(4000)
   Select @SqlText  = N'Alter Table dbo.Legal_Entity_BS_Stage_Temp_3 Add ' + @ColumnName + ' Varchar(max) Null'
   Exec(@SqlText)
   
   
   Declare @SqlText2 Varchar(4000)
   Select @SqlText2 =       N'Declare @List Varchar(4000);
   						   Select @List = Coalesce(@List + '','','''') + IsNull(' + @ColumnName + ','''') From dbo.Legal_Entity_BS_Stage_Temp_2;
   						   Insert Into dbo.Legal_Entity_BS_Stage_Temp_3 (' + @ColumnName + ')
   						   Values (@List)'						   
   Exec (@SqlText2)
   
   
   if not exists (select * from sysobjects where name='Legal_Entity_BS_Stage_Temp_4' and xtype='U')
   Select 
     *
   Into dbo.Legal_Entity_BS_Stage_Temp_4 
   From #Legal_Entity_BS_Stage_Temp
   Where 1 = 0
  
   
   If (Select Top 1 Rownum from dbo.Legal_Entity_BS_Stage_Temp_4) is null
   Begin 
   Insert into  dbo.Legal_Entity_BS_Stage_Temp_4 (RowNum)
   Values (1)
   End
   
   
   Declare @SqlText3 Varchar(4000)
   Set @SqlText3   = N'Update dbo.Legal_Entity_BS_Stage_Temp_4 
                       Set '   + @ColumnName + ' = (Select '   + @ColumnName + ' From  dbo.Legal_Entity_BS_Stage_Temp_3) 
   					Where Rownum = 1'
   Exec(@SqlText3)
   




   If not exists (select * from sysobjects where name='Legal_Entity_BS_Stage_Temp_5' and xtype='U')
   Create table dbo.Legal_Entity_BS_Stage_Temp_5
   (
     RowNum Int Identity (1,1) not null
   )


   Declare @SqlText4 Varchar(4000) 
   Declare @FieldResults Table (Field Varchar(max))
   Declare @FieldValue Varchar(max)
   Set @SqlText4 = N'Select ' + @ColumnName + ' from dbo.Legal_Entity_BS_Stage_Temp_4 Where RowNum = 1'

   Insert @FieldResults
   Exec(@SqlText4) 


   Set @FieldValue = '[' +(Select top 1 Replace(Field,',,,,,','') from @FieldResults) + ']'


   Declare @SqlText5 Varchar(4000) 
   Set @SqlText5 = N'Alter table dbo.Legal_Entity_BS_Stage_Temp_5 Add ' + @FieldValue + ' Varchar(1000) Null'
   Exec(@SqlText5) 


   Set @InitialRowNum = @InitialRowNum + 1
   
   Delete from @FieldResults




End


------------------------------------------------------------------------------------------------------------------------------------------

IF OBJECT_ID('tempdb..#Temp3') IS NOT NULL DROP TABLE #Temp3
Select
  Name
Into #Temp3
From
  (
	select 
	    RowNum        = ROW_NUMBER() OVER (ORDER BY c.Name),
		Name          = c.name
	from syscolumns c 
	     inner join sysobjects o on c.id=o.id
	where o.xtype='U' and o.Name='Legal_Entity_BS_Stage_Temp_5'
  ) X
Where X.RowNum > 2 and name <> 'RowNum'




IF OBJECT_ID('tempdb..#Legal_Entity_BS_Stage_Temp_5') IS NOT NULL DROP TABLE #Legal_Entity_BS_Stage_Temp_5
Select 
 *
into #Legal_Entity_BS_Stage_Temp_5
From 
(
  Select * from dbo.Legal_Entity_BS_Stage_Temp_5
    Union All 
  Select * from #Legal_Entity_BS_Stage_Temp Where RowNum > 6 
) X
order by 1



Declare @DynamicUnPivotQuery AS NVARCHAR(MAX)
Declare @ColumnName2 AS NVARCHAR(MAX)

Select @ColumnName2 =   ISNULL(@ColumnName2 + ',','') + QUOTENAME(Name) FROM #Temp3 AS Data


IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_6', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_6
SET @DynamicUnPivotQuery =  N' Select 
                                  * 
							   Into dbo.Legal_Entity_BS_Stage_Temp_6 
                               From 
							   (
                                  Select 
                                     [AssetID],
							         [AssetName],
							         [LegalEntity],
							         [Total] 
							      From #Legal_Entity_BS_Stage_Temp_5 
                                  Unpivot 
							  (
							   [Total] for [LegalEntity] in (' + @ColumnName2 + ' )
							  )  As UnPivotdata ) X'

Exec(@DynamicUnPivotQuery)


-----------------------------------------------------------------------------------------------------------------------------------------------


IF OBJECT_ID('tempdb..#Legal_Entity_BS_Stage_Temp_6') IS NOT NULL DROP TABLE #Legal_Entity_BS_Stage_Temp_6
Select 
  RowNum = ROW_NUMBER() OVER (ORDER BY (SELECT 0)),
  * 
Into #Legal_Entity_BS_Stage_Temp_6
From dbo.Legal_Entity_BS_Stage_Temp_6 
Where Total Not in  ('0','0.0','0.00','0.000','0.0000','-0','-0.0','-0.00','-0.000','-0.0000')
order by 1 asc


IF OBJECT_ID('tempdb..#Legal_Entity_BS_Input') IS NOT NULL DROP TABLE #Legal_Entity_BS_Input
SELECT
    RowNum,
	AssetId,
	AssetName,
    Period          = n.v.value('/e[1]','VARCHAR(30)'),
    TotalType       = n.v.value('/e[2]','VARCHAR(30)'),
    Position        = n.v.value('/e[3]','VARCHAR(30)'),
    Monthyear       = n.v.value('/e[4]','VARCHAR(30)'),
	ProductCategory = n.v.value('/e[5]','VARCHAR(30)'),
	LegalEntityId   = n.v.value('/e[6]','VARCHAR(30)'),
	Total
Into #Legal_Entity_BS_Input
FROM
    #Legal_Entity_BS_Stage_Temp_6
    CROSS APPLY (
        SELECT 
            CAST('<e>'+REPLACE(LegalEntity,',','</e><e>')+'</e>' AS XML) AS itm
    ) AS i
    CROSS APPLY i.itm.nodes('/') AS n(v);



IF OBJECT_ID (N'Legal_Entity_BS_Input', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Input
Select 
  [AssetId],[AssetName],[Period],[TotalType],[Position],[MonthYear],[ProductCategory],[LegalEntityId],[Total]
Into dbo.Legal_Entity_BS_Input
From #Legal_Entity_BS_Input
Group by [AssetId],[AssetName],[Period],[TotalType],[Position],[MonthYear],[ProductCategory],[LegalEntityId],[Total]
order by LegalEntityid



Declare @LoadDate Date = Getdate()

Merge dbo.[Legal_Entity_BS] bs
Using dbo.Legal_Entity_BS_Input inp
On     ISNULL(bs.[AssetId],'xyz')             = ISNULL(inp.[AssetId],'xyz')
   and ISNULL(bs.[Period],'xyz')              = ISNULL(inp.[Period],'xyz')
   and ISNULL(bs.[TotalType],'xyz')           = ISNULL(inp.[TotalType],'xyz')
   and ISNULL(bs.[Position],'xyz')            = ISNULL(inp.[Position],'xyz')
   and ISNULL(bs.[Monthyear],'xyz')           = ISNULL(inp.[Monthyear],'xyz')
   and ISNULL(bs.[ProductCategory],'xyz')     = ISNULL(inp.[ProductCategory],'xyz')
   and ISNULL(bs.[LegalEntityId],'xyz')       = ISNULL(inp.[LegalEntityId],'xyz')

When Matched Then 

Update Set
  [AssetId]            = Cast(inp.[AssetId]  as Varchar(75)) 
 ,[AssetName]          = Cast(inp.[AssetName]  as Varchar(255))   
 ,[Period]             = Cast(inp.[Period]  as Varchar(20))            
 ,[TotalType]          = Cast(inp.[TotalType]  as Varchar(20))            
 ,[Position]           = Cast(inp.[Position]  as Varchar(30))             
 ,[Monthyear]          = Cast(inp.[Monthyear]  as Varchar(20))        
 ,[ProductCategory]    = Cast(inp.[ProductCategory]  as Varchar(30))   
 ,[LegalEntityId]      = Cast(inp.[LegalEntityId]  as Varchar(30))     
 ,[Total]              = Cast(inp.Total as float)      
 ,[UpdateDate]         = @LoadDate

When Not Matched By Target Then 

Insert 
(
   [AssetId]         
  ,[AssetName]      
  ,[Period]          
  ,[TotalType]       
  ,[Position]        
  ,[Monthyear]       
  ,[ProductCategory] 
  ,[LegalEntityId]   
  ,[Total]           
  ,[LoadDate]      
)
Values
(
    Cast(inp.[AssetId]  as Varchar(75)) 
   ,Cast(inp.[AssetName]  as Varchar(255))   
   ,Cast(inp.[Period]  as Varchar(20))          
   ,Cast(inp.[TotalType]  as Varchar(20))       
   ,Cast(inp.[Position]  as Varchar(30))        
   ,Cast(inp.[Monthyear]  as Varchar(20))       
   ,Cast(inp.[ProductCategory]  as Varchar(30)) 
   ,Cast(inp.[LegalEntityId]  as Varchar(30))   
   ,Cast(inp.Total as float)      
   ,@LoadDate
);

------------------------------------------------------------------------------------------------------------------------------

IF OBJECT_ID (N'Assets_Input', N'U')   IS NOT NULL DROP TABLE dbo.Assets_Input
Select 
  AssetId,
  AssetName
Into dbo.Assets_Input
From dbo.Legal_Entity_BS_Input with (Nolock)
Group By 
  AssetId,
  AssetName




Merge dbo.Assets_Lookup va
Using dbo.Assets_Input inp
On     ISNULL(va.[AssetId],'xyz')             = ISNULL(inp.[AssetId],'xyz')

When Not Matched By Target Then 
Insert 
(
   [AssetId]         
  ,[AssetName]   
)

Values
(
    Cast(inp.[AssetId]  as Varchar(75)) 
   ,Cast(inp.[AssetName]  as Varchar(255))   
);


IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp', N'U')     IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp

IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_2', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_2

IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_3', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_3

IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_4', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_4

IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_5', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_5

IF OBJECT_ID (N'Legal_Entity_BS_Stage_Temp_6', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Stage_Temp_6

IF OBJECT_ID (N'Legal_Entity_BS_Input', N'U')   IS NOT NULL DROP TABLE dbo.Legal_Entity_BS_Input

IF OBJECT_ID (N'Assets_Input', N'U')   IS NOT NULL DROP TABLE dbo.Assets_Input

IF OBJECT_ID('tempdb..#Legal_Entity_BS_Stage_Temp') IS NOT NULL DROP TABLE #Legal_Entity_BS_Stage_Temp

IF OBJECT_ID('tempdb..#Temp2') IS NOT NULL DROP TABLE #Temp2

IF OBJECT_ID('tempdb..#Temp3') IS NOT NULL DROP TABLE #Temp3

IF OBJECT_ID('tempdb..#Legal_Entity_BS_Stage_Temp_5') IS NOT NULL DROP TABLE #Legal_Entity_BS_Stage_Temp_5

IF OBJECT_ID('tempdb..#Legal_Entity_BS_Stage_Temp_6') IS NOT NULL DROP TABLE #Legal_Entity_BS_Stage_Temp_6

End





	 --select * from dbo.[Legal_Entity_BS]

































